//IE 11
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {

.page-template-contact h1 {
  font-weight: 700;
}

.col-3 {
  padding: 0 $space5;
}

.section-cycle .semicircle {
  width: $space14;
  height: calc(90.332rem * .5 / 2);
  border-bottom-left-radius: $space14;
  border-bottom-right-radius: $space14;
  @include for-size(sm) {
    height: calc(90.332rem * .5 / 2);
  }
  @include for-size(md) {
    width: $space15;
    height: calc(127.73rem * .5 / 2);
    border-bottom-left-radius: $space15;
    border-bottom-right-radius: $space15;
  }

}

  .post-type-archive-product .site-content .products .product {
    @include for-size(sm) {
      flex-basis: 49%!important;
    }
    .title-wrapper {
      bottom: calc(15.981rem * -.5);
      left: 0;
      right: 0;
    }
  }

  .page-template-about .two-columns .column {
    flex-basis: 49%;
  }

  .page-template-about .section-product .horizontal-line {
    left: 0;
  }

  .page-template-about .section-product .content {
    width: auto;
    margin-left: 0;
  }

  .cart-close-inner-wrapper {
    span {
      &.top {
        transform: translateY(0.3535rem) rotate(-135deg);
      }
      &.bottom {
        transform: translateY(-0.3535rem) rotate(135deg);
      }
    }
  }

  #menu-input:checked ~ .hamburger {
    span {
      &.top {
        transform: translateY(0.3535rem) rotate(-135deg);
      }
      &.bottom {
        transform: translateY(-0.3535rem) rotate(135deg);
      }
    }
  }

  .section-hero .circles-wrapper .circle .label {
    top: -2.5rem;
  }

  .section-hero .circles-wrapper .circle .circle-inner-wrapper .plus {
    left: -2.5rem;
  }

  .section-how .circle-button-wrapper {
    top: -1.998rem;
  }

  .section-how .product-image {
    margin-top: -11.295rem;
  }


}

//Edge
@supports (-ms-ime-align:auto) {


}

// Safari

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .post-type-archive-product .site-content .products .product {
    @include for-size(md) {
      flex-basis: 49.9%!important;
    }
  }


}}
