.will-slick {
  opacity: 0;
  transition: opacity 1s ease-in;
  //animation-delay: 1s;
  //animation: fade-in .2s linear;
  &.slick-initialized  {
    opacity: 1;
  }
}

.video-popup {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: $dark-blue-50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  align-items: center;
  justify-content: center;
  &.open {
    display: flex;
  }
  .video-popup-click-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .video-wrapper {
    text-align: center;
    max-width: 66%;
    position: relative;
    .video-text-wrapper {
      position: absolute;
      pointer-events: none;
      display: none;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      background-color: $neutral-light;
      &.show {
        display: flex;
      }
      h2 {
        width: 75%;
        color: $white;
        font-size: $ag6;
        //margin-bottom: $space7;
        display: inline-block;
        margin: 0;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        .teal {
          color: $teal;
          font-weight: bold;
          text-shadow: none;
        }
        @include for-size(md) {
          font-size: $ag8;
        }
      }
    }
    video {
      width: 100%;
      max-width: 100%;
    }
  }
}

.woocommerce-notices-wrapper {
  display: none!important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: $space7;
  background-color: $teal;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(1)
  }
  75% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1.2)
  }
}

.marquee {
  position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    margin-bottom: $space6;
    .marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: running;
    .text-wrapper {
      padding: 0 $space5;
      flex-shrink: 0;
    }
  }
}

.video-feature {
  height: $space11;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    font-size: $ag6;
    @include for-size(sm) {
      font-size: $ag7;
    }
    @include for-size(md) {
      font-size: $ag8;
    }
  }
  .circle-button {
    margin-left: $space4;
    height: $space7;
    width: $space7;
    //border-radius: calc(#{$space7} / 2);
    border-radius: 100%;
    @include for-size(sm) {
      height: $space8;
      width: $space8;
      //border-radius: calc(#{$space8} / 2);
      border-radius: 100%;
      margin-left: $space6;
    }
  }
}
.slow-zoom {
  transform-origin: 50% 50%;
  animation: slow-zoom 60s linear infinite;
  animation-play-state: running;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
     transform: scale(1);
  }
}



.home.page-template-default {
  background-color: $teal!important;
  .products-bar {
    height: $space9;
    margin: auto $space4;
    position: fixed;
    bottom: $space6;
    left: $mobilePadding;
    right: $mobilePadding;
    width: auto!important;
    margin: auto;
    background-color: $white;
    z-index: 2;
    padding: 0;
    @include for-size(sm) {
      left: $negativeSpace;
      right: $negativeSpace;
      padding: inherit;
      height: $space8;
      max-width: 90vw;
   	}
    @include for-size(lg) {
      max-width: $space15;
    }
    .inner-wrapper-3D {
      //padding: 0 0 0 $space4;
      padding-left: $space3!important;
      padding-right: 0!important;
      @include for-size(sm) {
        //padding: 0 0 0 $space6;
        padding-left: $space3!important;
        padding-right: 0!important;
      }
    }
    .products-bar-inner-wrapper {
      position: relative;
      height: 100%;
      display: block;
      flex-direction: row;
      align-items: center;
      padding: 0;
      justify-content: space-between;
      @include for-size(sm) {
        display: flex;
        padding: 0;
     	}
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
          .slick-slide {
            align-items: center;
            display: flex;
            padding: 0;
            @include for-size(sm) {
              padding: 0;
           	}
            &:last-child {
              .product {
                border-right: 0px!important;
              }
            }
            &:hover {
              .image-wrapper {
                background-color: $neutral-light;
                img {
                  transform: rotate(5deg) scale(1.1);
                }
              }
            }
          }
        }
      }
      .slick-arrow {
        height: calc(#{$space9} / 2);
        width: calc(#{$space9} / 2);
        border-radius: 0;
        position: absolute;
        left: auto;
        right: 0!important;
        @include for-size(sm) {
          height: calc(#{$space8} / 2);
          width: calc(#{$space8} / 2);
        }
        &.slick-prev {
          bottom: 0;
          top: auto;
          background-color: #DEE7E6;
          &::after {
            border-right-color: $blue-dark;
          }
        }
        &.slick-next {
          top: 0;
          bottom: auto;
        }
      }
      .product {
        display: flex!important;
        flex-direction: row;
        text-decoration: none;
        color: $blue-dark;
        align-items: center;
        padding: 0 $space6 0 $space4;
        //&:last-child {
        //  border-right: 0px;
        //}
        //&:first-child {
        //  padding-left: 0px;
        //  }
        @include for-size(sm) {
          border-right: 1px solid rgba(21,48,73,.2)!important;
        }
        .image-wrapper {
          //width: $space7;
          height: $space7!important;
          min-width: $space7;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          transition: background-color .2s ease-in-out;
          @include for-size(sm) {
            height: $space6!important;
            min-width: $space6;
          }
          img {
            height: $space7;
            width: auto;
            margin: 0;
            transition: transform .1s ease-in;
            @include for-size(sm) {
              height: $space6;
            }
          }
        }
        .product-meta {
          .under-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: -2px;
          }
          padding-left: $space4;
          @include for-size(sm) {
            padding-left: $space4;
          }
          h5 {
            font-family: $lato;
            font-size: $lato4;
            font-size: bold;
            margin: 0 0 $space-2 0;
            @include for-size(sm) {
              font-size: $lato3;
            }
          }
          .subtitle {
            font-family: $lato;
            font-size: $lato3;
            font-weight: bold;
            display: inline-block;
            margin: 0;
            @include for-size(sm) {
              font-size: $lato2;
            }
          }
          .bullet {
            //width: $space-2;
            //height: $space-2;
            //border-radius: calc(#{$space-1} / 2);
            //background-color: $blue-dark;
            margin: 0 $space-1;
            padding-top: 2px;
            display: inline-block;
            font-size: $ag4;
            @include for-size(sm) {
              font-size: $ag3;
              padding-top: 0;
            }
          }
          .price {
            font-family: $starling;
            font-size: $starling3;
            opacity: .5;
            display: inline-block;
            margin: 0;
            padding-top: 2px;
            @include for-size(sm) {
              font-size: $starling2;
            }
          }

        }
      }
    }
  }
  footer {
    margin-top: 0!important;
  }
}


.section-hero {
  background-color: $neutral-medium;
  background-size: 200%;
  background-position: center center;
  position: relative;
  background-position-x: center!important;
  background-position-y: 25rem!important;
  background-repeat: no-repeat;
  overflow: hidden;
  @include for-size(sm) {
    background-position-x: center!important;
    background-position-y: 20rem!important;
    //background-position-y: calc(#{$space11} + #{$space7})
  }
  @include for-size(md) {
    background-position-x: center!important;
    background-position-y: center!important;
    background-size: cover;
  }
  //min-height: 100vh;
  h1 {
    margin-bottom: $space4;
    display: inline-block;
  }
  .col-4 {
    margin: auto;
    margin-bottom: $space8;
    @include for-size(sm) {
      margin-bottom: $space10;
    }
    @include for-size(md) {
      margin-bottom: $space9;
    }
    h3 {
      display: inline-block;
    }
  }
  .hero-text {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    &.slideInUp {
      opacity: 1;
    }
  }
  .gradient {
    background: linear-gradient(180deg, rgba(223,230,230,0) 0%, rgba(223,230,230,1) 100%);
    height: $space14;
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    @include for-size(md) {
      height: $space12;
    }
  }
  .circles-wrapper {
    display: flex;
    flex-direction: column;
    padding: $space10 0 calc(#{$space13} + #{$space7}) 0;
    justify-content: space-between;
    @include for-size(sm) {
      padding: $space10 0 calc(#{$space13} + #{$space9}) 0;
    }
    @include for-size(md) {
      padding: $space10 0;
      flex-direction: row;
    }
    .slick-list {
      overflow: visible;
    }
    .slick-dots {
      margin-top: $space5;
    }
    .area {
      //flex-grow: 1;
      flex-grow: 0;
      flex-basis: 37.5vw;
      &.center {
        flex-grow: 0;
        flex-basis: 25vw;
        }
      }
    .circle {
      text-align: center;
      width: $space12;
      height: $space12;
      //border-radius: calc(#{$space12}/2);
      border-radius: 100%;
      color: $blue-darkest;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
        .number {
          font-family: $avantgarde;
          font-size: $ag10;
          font-weight: 700;
          position: relative;
          width: 100%;
        }
        .circle-inner-wrapper{
          position: relative;
          display: inline-block;
          .plus {
            position: absolute;
            left: calc(#{$space6} * -1);
            font-size: $ag7;
            display: flex;
            align-items: center;
            height: 100%;
          }
        }
      .label {
        width: 100%;
        font-family: $lato;
        font-size: $lato3;
        font-weight: bold;
        color: $blue-darkest;
        position: absolute;
        top: calc(#{$space3} * -1);
        left: 0;
        right: 0;
      }
      .units {
        font-family: $starling;
        font-size: $starling6;
        position: absolute;
        bottom: calc(#{$space5} * -1);
        width: 100%;
        left: 0;
        right: 0;
      }
      &.right {
        background-color: rgba(10,199,197,.25);
        transition: transform .1s ease-in;
        cursor: url("../images/cursors/learn.svg"), auto;
        .number{
          color: $teal;
          .units {
            color: $teal;
          }
        }
        &:hover {
          @include for-size(md) {
            transform: rotate(5deg) scale(1.1);
          }
        }
      }
      &.left {
        .number{
          color: $white;
          .units {
          color: $white;
          }
        }
      }
    }
  }
}



.header-bar {
  padding: $space5 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  align-items: center;
  #site-navigation{
    .menu-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: $space6;
      position: relative;
      cursor: pointer;
      .hamburger {
        z-index: 3;
        span {
          background-color: $blue-dark;
          width: $space4;
          height: $space-2;
          display: block;
          transition: .2s ease-in transform;
          &.top {
            margin-bottom: $space1;
          }
        }
      }
      input {
        z-index: 4;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        opacity: 0;
        width: $space6;
        height: $space6;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .menu-wrapper {
      display: none;
      opacity: 0;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
      align-items: center;
      justify-content: center;
      @include for-size(sm) {
        width: $space14;
        height: 100%;
      }
      .gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: $space14;
        pointer-events: none;
        background: linear-gradient(180deg, rgba(21,48,73,0) 0%, rgba(21,48,73,1) 100%);
        @include for-size(sm) {
          display: none;
        }
      }
      .account-link {
        position: absolute;
        bottom: $space7;
        left: $space7;
        display: none;
        @include for-size(sm) {
          display: block;
        }
        a {
          color: $teal;
          font-family: $avantgarde;
          font-size: $ag4;
          font-weight: bold;
        }
      }
      .circle {
        width: $space16;
        height: $space16;
        //border-radius: calc( #{$space16}/2 );
        border-radius: 100%;
        position: absolute;
        right: $negativeSpace;
        left: $negativeSpace;
        top: $mobileMenuTop;
        margin: auto;
        background-color: $blue-dark;
        @include for-size(sm) {
          right: 0;
          top: $negativeSpace;
          bottom: $negativeSpace;
          left: auto;
        }
      }
      .menu-primary-menu-container {
        height: 100%;
        padding-top: $mobileMenuTop;
        width: 100%;
        position: relative;
        @include for-size(sm) {
          height: auto;
          min-height: auto;
          padding-top: 0;
        }
        ul {
          overflow: scroll;
          padding: $space8 $space7 $space9 $space7;
          margin: auto;
          height: calc(100% - #{$mobileMenuTop});
          width: 120%;
          position: absolute;
          top: $mobileMenuTop;
          left: $negativeSpace;
          right: $negativeSpace;
          justify-content: space-between;
          @include for-size(sm) {
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 0 $space7;
            top: auto;
            left: auto;
            right: auto;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            justify-content: center;
            overflow: hidden!important;
          }
          li {
            color: $white;
            font-family: $avantgarde;
            font-size: $ag7;
            text-align: center;
            display: block;
            float: none;
            margin: calc(#{$space9} / 2) 0;
            ::-webkit-scrollbar {
              display: none;
            }
            @include for-size(sm) {
              flex-basis: 50%;
              font-size: $ag6;
              text-align: left;
              margin: calc(#{$space4} / 2) 0;
            }
            a  {
              color: $white;
              &:hover {
                color: $teal;
              }
            }
            &.current-menu-item a {
              color: $teal;
            }
            &.current_page_parent a {
              color: $teal;
            }
          }
        }
      }
    }
    #menu-input:checked ~ .menu-wrapper {
      opacity: 1;
      display: flex;
      -webkit-animation: animation 1000ms linear both;
      animation: animation 1000ms linear both;
    }
    #menu-input:checked ~ .hamburger {
      span {
        background-color: $white;
        &.top {
          transform: translateY(#{$space-1}) rotate(-135deg);
        }
        &.bottom {
          transform: translateY(calc(#{$space-1} * -1)) rotate(135deg);
        }
      }
      &:hover span {
        background-color: $teal;
      }
    }
  }
  .logo-outer-wrapper {
    right: 0;
    display: flex;
    flex-direction: row;
    .tag-wrapper {
      position: relative;
      height: $space7;
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 4;
      min-width: 50vw;
      justify-content: flex-end;
      .added-to-cart {
        display: none;
      }
      .user-image {
        width: $space6;
        height: $space6;
        //border-radius: calc(#{$space6} / 2);
        border-radius: 100%;
        background-color: $blue-dark;
        margin-right: $space3;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: auto;
        img {
          height: $space3;
          width: auto;
        }
      }
      a {
        background-color: $blue-darkest;
        align-self: stretch;
        z-index: 2;
        .logo-inner-wrapper {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 $space4;
          img {
            height: $space3;
            width: auto;
          }
        }
      }
      .cart-count {
        background-color: $blue-dark;
        width: $space7;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        z-index: 2;
        .circle {
          width: $space4;
          height: $space4;
          border: 1px solid $teal;
          //border-radius: calc(#{$space4} / 2);
          border-radius: 100%;
          color: $white;
          font-family: $lato;
          font-size: $lato2;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .cart-wrapper {
      display: none;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      padding-top: $mobileMenuTop;
      @include for-size(sm) {
        width: $space14;
        height: 100%;
        padding-top: 0;
      }
      @include for-size(lg) {
        width: $space14;
      }
      &.open {
        opacity: 1;
        display: flex;
      }
      .circle {
        width: $space16;
        height: $space16;
        //border-radius: calc( #{$space16}/2 );
        border-radius: 100%;
        position: absolute;
        left: $negativeSpace;
        right: $negativeSpace;
        top: $mobileMenuTop;
        margin: auto;
        background-color: $white;
        @include for-size(sm) {
          bottom: $negativeSpace;
          top: $negativeSpace;
          right: auto;
          left: 0;
        }
      }
      .cart {
        z-index: 3;
        width: $space13;
        color: $blue-dark;
        height: 100%;
        padding: $space6 0 $space6 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include for-size(sm) {
          margin-top: 0;
          margin-left: $space11;
          padding: $space11 0 $space8 0;
          width: $space12;
        }
        @include for-size(md) {
          margin-left: $space11;
        }
        @include for-size(lg) {
          margin-left: $space9;
          padding: $space10 0 $space8 0;
        }
        .cart-close-wrapper {
          margin: 0 auto $space6 auto;
          @include for-size(sm) {
            display: none;
          }
        }
        h2 {
          width: 100%;
          margin-top: 0;
          text-align: center;
          margin-bottom: $space8;
        }
        .mini-cart-outer-wrapper {
          position: relative;
        }
        .mini-cart-wrapper {
          position: relative;
          margin-bottom: $space5;
          overflow-y: scroll;
          flex-grow: 7;
          .gradient {
          //  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, $white 100%);
          //  height: $cartGradientHeight;
          //  width: 100%;
          //  position: sticky;
          //  bottom: 0;
          //  z-index: 2;
          //  pointer-events: none;
          }
        }
        .woocommerce-mini-cart {
          margin: 0 0 calc(#{$cartGradientHeight} * -1) 0;
          padding: 0;
          position: relative;
        //  height: 100%;
          @include for-size(sm) {
            margin: 0 0 calc(#{$cartGradientHeight} * -1) 0;
          }

          .mini_cart_item {
            list-style-type: none;
            display: flex;
            padding-left: $space7;
            padding-right: $space7;
            flex-direction: row;
            align-items: center;
            margin-bottom: $space4;
            justify-content: space-between;
            position: relative;
            @include for-size(sm) {
              padding-left: $space6;
              padding-right: $space6;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &:hover {
              .thumbnail img {
                transform: scale(1.1);
              }
            }
            .quantity-left {
              width: $space6;
              height: $space6;
              //border-radius: calc(#{$space6} / 2);
              border-radius: 100%;
              border: 2px solid $blue-dark;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: $lato;
              font-size: $lato4;
              color: $teal;
              margin-right: $space2;
              @include for-size(sm) {
                width: $space5;
                height: $space5;
                font-size: $lato3;
                //border-radius: calc(#{$space5} / 2);
                border-radius: 100%;
              }
            }
            a {
              background-color: transparent!important;
              color: $blue-dark;
              font-family: $lato;
              font-size: $lato4;
              font-weight: bold;
              text-decoration: none;
              display: flex;
              align-items: center;
              @include for-size(sm) {
                font-size: $lato3;
              }
            }
            .remove {
              //margin-right: $space2;
              opacity: .5;
              display: flex;
              font-size: $lato4;
              position: absolute;
              height: 100%;
              left: $space5;
              margin-top: -.3rem;
              @include for-size(sm) {
                margin-top: 0;
                display: none;
                left: $space2;
              }
              &:hover {
                opacity: 1;
                color: $red;
              }
            }
            .thumbnail {
              width: $space6;
              height: $space6;
              //border-radius: calc(#{$space6} / 2);
              border-radius: 100%;
              background-color: $neutral-medium;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: $space3;
              @include for-size(sm) {
                width: $space5;
                height: $space5;
                //border-radius: calc(#{$space5} / 2);
                border-radius: 100%;
              }
              img {
                width: $space3;
                height: auto;
                transition: transform .1s ease-in;
              }
            }
            .subtitle {
              opacity: .5;
              margin-left: $space-2;
            }
            .variation {
              margin: 0;
              dl.variation {
                margin: 0;
                padding-left: 0!important;
                border: 0!important;
                dt {
                  display: none;
                }
                dd {
                  margin: 0;
                  p {
                    font-family: $lato;
                    font-size: $lato3;
                    font-weight: normal;
                    display: block;
                    margin-top: 0;
                    margin-bottom: 0;
                    @include for-size(sm) {
                      font-size: $lato2;
                    }
                  }
                }
              }
            }
            .quantity {
              font-family: $lato;
              font-size: $lato4;
              font-weight: bold;
              flex-grow: 1;
              text-align: right;
              padding-bottom: $space2;
              @include for-size(sm) {
                font-size: $lato3;
              }
            }
            &:hover {
              .remove {
                display: block;
              }
            }
          }
        }
        .summary {
          position: relative;
          &::before {
            content: "";
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, $white 100%);
            height: $cartGradientHeight;
            width: 100%;
            position: absolute;
            top: calc((#{$cartGradientHeight} * -1) + (#{$space5} * -1));
            z-index: 2;
            pointer-events: none;
          }
        }
        .costs {
          padding-top: $space4;
          font-family: $lato;
          margin: 0 $space7;
          font-size: $lato4;
          font-weight: bold;
          @include for-size(sm) {
            margin: 0 $space6;
            font-size: $lato3;
          }
          &.other-costs {
            opacity: .5;
            .cost {
              margin-bottom: $space4;
            }
          }
          &.total {
            border-top: 3px solid $neutral-medium;
          }
          .right {
            float: right;
            clear: right;
          }
        }
        .woocommerce-mini-cart__buttons {
          margin-top: $space7;
          margin-bottom: $space6;
          //flex-grow: 2;
          display: flex;
          flex-direction: column-reverse;
          @include for-size(sm) {
            margin-top: $space8;
            margin-bottom: 0;
          }
          .button-wrapper {
            .button:not(.checkout){
              display: none;
            }
            .checkout {
              width: 100%;
              height: $space7;
              background-color: $teal;
              font-family: $lato;
              font-size: $lato4;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $white;
              text-decoration: none;
              @include for-size(sm) {
                font-size: $lato3;
              }
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }
    #cart-input {
      z-index: 4;
      position: absolute;
      width: $space7;
      height: $space7;
      right: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.section-how {
  position: relative;
  margin-bottom: $space8;
  margin-top: 0!important;
  padding-top: $space9;
  .circle-button-wrapper {
    position: absolute;
    top: calc(#{$space8} * -.5);
    width: 100%;
    @include for-size(sm) {
      top: calc(#{$space7} * -.5);
    }
    .circle-button {
      background-color: $blue-dark;
      margin: auto;
      width: $space8;
      height: $space8;
      //border-radius: calc(#{$space7} / 2);
      border-radius: 100%;
      @include for-size(sm) {
        width: $space7;
        height: $space7;
      }
    }
    &:hover {
      -webkit-animation-name: heartBeat;
      animation-name: heartBeat;
      -webkit-animation-duration: 1.3s;
      animation-duration: 1.3s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }
  a {
    text-decoration: none;
  }
  .quadrants {
    overflow: hidden;
  }
  .product-image {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: calc(#{$space12} / -2);
    position: relative;
    pointer-events: none;
    .gradient-line {
      width: 1px;
      height: $space13;
      position: absolute;
      left: 0;
      right: 0;
      bottom: $space5;
      margin: auto;
      //background: linear-gradient($teal 0%, $white 50%, $white 100%);
    }
    img {
      height: $space12;
      width: auto;
      margin: auto;
    }
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    color: $white;
    opacity: .5;
    font-size: $ag5;
    @include for-size(sm) {
      display: none;
    }
  }
  .row {
    height: $space12;
    .quadrant {
      width: 50%;
      color: $white;
      font-size: $starling4;
      text-align: center;
      display: flex;
      transition: opacity .1s ease-in, color .1s ease-in;
      .quadrant-content {
        max-width: $space12;
        font-size: $starling4;
        position: relative;
        cursor: url("../images/cursors/learn.svg"), auto;
        .circle {
          background-color: $blue-medium;
          width: $space5;
          height: $space5;
          //border-radius: calc(#{$space5} / 2);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-family: $lato;
          font-size: $lato4;
          //margin: 0 auto $space5 auto;
          position: absolute;
          left: $negativeSpace;
          right: $negativeSpace;
          bottom: $negativeSpace;
          top: $negativeSpace;
          margin: auto;
          transition: opacity .1s ease-in;
        }
        .quadrant-text {
          opacity: 0;
          transition: opacity .1s ease-in;
          padding: 0 $space5;
          @include for-size(sm) {
            padding: 0 $space2;
          }
          @include for-size(md) {
            padding: 0;
          }
        }
      }
      &:hover {
        .quadrant-content {
          .circle {
            opacity: 0;
          }
          .quadrant-text {
            opacity: 1;
          }
        }
      }
      .desktop {
        display: none;
        @include for-size(sm) {
          display: block;
        }
      }
      .mobile {
        display: block;
        @include for-size(sm) {
          display: none;
        }
      }
    }
    &.top {
      height: $space13;
      border-bottom: 1px solid $white;
      @include for-size(sm) {
        height: $space13;
      }
      @include for-size(md) {
        height: calc(#{$space12} + #{$space6});
      }
      .quadrant {
        justify-content: center;
        align-items: center;
        @include for-size(sm) {
          padding-bottom: $space9;
        }
        .quadrant-content {
          margin-bottom: $space10;
          @include for-size(sm) {
            margin-bottom: 0;
          }
        }
      }
    }
    &.bottom {
      height: calc(#{$space12} + #{$space6});
      .quadrant {
        width: 100%;
        flex-direction: column;
        .quadrant-content {
          margin: auto;
          margin-top: $space8;
        }
      }
    }
  }
}

.section-products {
  margin-bottom: $space8;
  .products-carousel {
    .slick-arrow {
      margin-top: calc(#{$space8} * -1);
      width: $space8;
      height: $space8;
      //border-radius: calc(#{$space8} / 2);
      border-radius: 100%;
    }
    .slick-dots {
      margin-top: $space5;
      text-align: center;
    }
    .slick-prev {
      transform: translateX($space8);
    }
    .slick-next {
      transform: translateX(calc(#{$space8)} * -1));
    }
    .slick-list {
      padding: 0;
      @include for-size(sm) {
        padding: 0 calc(#{$space8} / 2);
      }
      @include for-size(md) {
        padding: 0 calc(#{$space12} / 2);
      }
      .slick-dots {
        text-align: center;
        margin-top: $space5;
      }
    }
    .slick-slide {
      opacity: 0!important;
      @include for-size(sm) {
        opacity: .25!important;
      }
      &.slick-active {
        opacity: 1!important;
      }
      .product {
        .circle {
          width: $space12;
          height: $space12;
          border-radius: 100%;
          background-color: rgba(225,244,253,.5);
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          @include for-size(xl) {
            width: $space13;
            height: $space13;
          }
          img {
            height: $space11;
            width: auto;
            @include for-size(xl) {
              height: $space12;
            }
          }
        }
        .product-info {
          top: $space12;
          width: 100%;
          h3 {
            margin: $space6 0 $space5 0;
            text-align: center;
            a {
              color: $white;
              text-decoration: none;
              font-size: $ag5;
            }
          }
          h5 {
            font-family: $starling;
            font-size: $starling4;
            margin: 0 0;
            text-align: center;
          }
        }
      }
    }
  }

}

.section-facts {
  font-family: $lato;
  font-size: $lato4;
  padding: 0 $mobilePadding;
  border-bottom: 1px solid $dark-blue-50;
  margin-bottom: $space8;
  @include for-size(sm) {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 0;
    font-size: $lato3;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $space5 0;
    position: relative;
    @include for-size(sm) {
      padding: $space6 0;
    }
    .fact-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      flex-shrink: 40;
      @include for-size(sm) {
        flex-shrink: 0;
        flex-direction: row;
      }
      .slick-dots {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: calc(#{$space8} * -1);
        left: 0;
        right: 0;
        padding-left: $space6;
      }
      .fact {
        border-right: 1px solid $blue-darkest;
        display: flex!important;
        align-items: center;
        padding: $space2 $space6;
        @include for-size(sm) {
          height: $space5;
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-right: 0!important;
        }
        img, object {
          height: $space6;
          width: auto;
          margin-right: $space5;
          @include for-size(sm) {
            height: $space5;
            margin-right: $space4;
          }
          svg {
            color: $white!important;
          }
        }
      }
      .circle-button {
        width: $space6!important;
        height: $space6!important;;
        //border-radius: calc(#{$space6} / 2)!important;
        border-radius: 100%;
      }
    }
  }
  &.light {
    border-top: 1px solid rgba(21,48,73,.5);
    color: $white;
    .icon-dark {
      display: none;
    }
    .icon-light {
      display: block;
    }
    .circle-button {
      border: 1px solid $dark-blue-50!important;
      background-color: transparent!important;
      &::after {
        border-left: $space-1 solid $blue-dark;
      }
    }
  }
  &.neutral {
    border-top: 1px solid rgba(21,48,73,.25);
    color: rgba(21,48,73,.5);
    svg {
      color: $blue-dark!important;
    }
    .icon-dark {
      display: block;
    }
    .icon-light {
      display: none;
    }
    .circle-button {
      border: 1px solid $dark-blue-50!important;
      background-color: transparent!important;
      &::after {
        border-left: $space-1 solid $blue-dark;
      }
    }
  }
  &.dark {
    //border-top: 1px solid rgba(21,48,73,.25);
    color: $white;
    border-bottom: 1px solid rgba(255,255,255,.25);
    .icon-dark {
      display: none;
    }
    .icon-light {
      display: block;
    }
    svg {
      color: $white!important;
    }
    .fact {
      border-right: 1px solid $blue-medium!important;
    }
    .circle-button {
      border: 1px solid rgba(255,255,255,.5)!important;
      background-color: transparent!important;
      &::after {
        border-left: $space-1 solid $white;
      }
    }
    .slick-dots li button {
      background-color: $blue-light;
    }
  }
  &.lightest {
    .icon-dark {
      display: block;
    }
    .icon-light {
      display: none;
    }
    .circle-button {
      border: 1px solid $dark-blue-50!important;
      background-color: transparent!important;
      &::after {
        border-left: $space-1 solid $blue-dark;
      }
    }
  }
}


.video-section {
  height: $space14;
  overflow: hidden;
  position: relative;
  .video-section-bg {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
  .video-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    h4 {
      margin-bottom: 0;
    }
    .circle-button {
      width: $space8;
      height: $space8;
      //border-radius: calc(#{$space8} / 2);
      border-radius: 100%;
      margin-top: $space6;
    }
  }
}

.section-how {
  margin-top: $space9;
  h2 {
    font-weight: 300;
  }
}

.section-review {
  background-color: $blue-dark-dark;
  border-bottom: 1px solid rgba(255,255,255,.5);
  text-align: center;
  padding: $space9 0;
  .row {
    margin: auto;
    .stars {
      display: flex;
      margin: auto;
      margin-bottom: $space6;
      img {
        margin: calc(#{$space4} / 2);
        height: $space4;
      }
    }
    .review-text {
      color: $white;
      font-family: $starling;
      font-size: $starling4;
    }
    .review-meta {
      margin: auto;
      margin-top: $space5;
      color: $white;
      .name {
        color: $white;
        font-family: $lato;
        font-size: $lato4;
        padding: 0 calc(#{$space-3} / 2);
        @include for-size(sm) {
          font-size: $lato3;
        }
      }
      .location {
        color: $teal;
        font-family: $lato;
        font-size: $lato4;
        padding: 0 calc(#{$space-3} / 2);
        @include for-size(sm) {
          font-size: $lato3;
        }
      }
    }
  }
}

.section-comparison {
  background-color: $blue-dark-dark;
  padding: $space8 0;
  .table-header {
    justify-content: flex-end;
    flex-direction: row;
    font-family: $lato;
    font-size: $lato3;
    text-align: center;
    display: none;
    @include for-size(sm) {
      display: flex;
    }
    .col-2 {
      @include for-size(sm) {
        padding: 0 calc(#{$space7} / 2);
        width: calc((100% / 6) * 2);
      }
    }
    .left {
      color: $white;
      opacity: .5;
    }
    .right {
      color: $teal;
    }
  }
  .table-body {
    @include for-size(sm) {
      padding-top: $space7;
    }
    .row {
      flex-wrap: wrap;
      &:first-child {
        margin-bottom: $space7;
        @include for-size(sm) {
          margin-bottom: 0;
        }
      }
      .col-2 {
        @include for-size(sm) {
          padding: 0 calc(#{$space7} / 2);
          width: calc((100% / 6) * 2);
        }
      }
      .label {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        @include for-size(sm) {
          flex-basis: auto;
        }
        h4 {
          font-family: $lato;
          font-size: $lato4;
          color: $white;
          opacity: .5;
          display: block;
          text-align: center;
          width: 100%;
          margin-top: 0;
          margin-bottom: $space7;
          @include for-size(sm) {
            margin-bottom: $space3;
            margin-top: 0;
            text-align: left;
          }
        }
      }
      .cell {
        justify-content: center;
        padding: $space4 0;
        opacity: 1;
        display: flex;
        align-items: center;
        flex-basis: 50%;
        @include for-size(sm) {
          flex-basis: auto;
          padding: $space6 0;
        }
        h5 {
          font-size: $ag8;
          font-family: $avantgarde;
          position: relative;
          padding: 0 $space6;
          .unit {
            font-size: $starling3;
            position: absolute;
            bottom: calc(#{$space6} * -1);
            width: 100%;
            text-align: center;
            font-family: $starling;
            font-weight: 100;
            left: 0;
          }
          .options-wrapper {
            font-family: $starling;
            font-size: $starling4;
            opacity: .5;
            position: absolute;
            left: 0;
            height: 100%;
            top: 0;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: $space6;
            justify-content: flex-end;
            padding-right: $space3;
            .app {
              margin-right: $space2;
            }
          }
        }
        &.right {
          color: $teal;
        }
        &.left {
          color: $white;
          border-right: 1px solid rgba(255,255,255,.1);
        }
      }
    }
  }
}



footer {
  background-color: $blue-medium-dark;
  border-top: $space-1 solid $teal;
  margin-top: $space9;
  padding: $space7 $mobilePadding $space6 $mobilePadding;
  @include for-size(lg) {
    padding: 0 $space7 $space7 $space7;
  }

  .navigation-wrapper {
    padding: 0;
    @include for-size(lg-down) {
      max-width: none!important;
    }
  }
  .footer-navigation {
    ul {
      font-family: $avantgarde;
      color: $blue-light;
      font-weight: 400;
      margin: 0;
      margin-left: 0!important;
      padding-left: 0!important;
      list-style-type: none;
      &#menu-footer-menu {
        display: flex;
        flex-wrap: wrap;
        @include for-size(lg) {
          padding: $space8 0 $space7 0;
        }
      }
      .menu-item-has-children {
        margin-bottom: $space6;
        @include for-size(sm) {
          margin-bottom: 0;
        }
      }
      li {
        text-decoration: none;
        padding-right: $space7;
        @include for-size(md) {
          padding-right: $space9;
        }
        a {
          color: $blue-light;
          text-decoration: none;
          margin-bottom: $space6;
          display: inline-block;
        }
        ul {
          li {
            display: block;
            opacity: .5;
            font-family: $lato;
            font-size: $lato3;
            padding-right: 0;
            margin-bottom: 0;
            line-height: $space5;
            @include for-size(md) {
              font-size: $lato3;
            }
            a {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .bottom-row {
    display: flex;
    flex-direction: column;
    margin-top: $space6;
    justify-content: space-between;
    @include for-size(lg) {
      flex-direction: row;
      align-items: center;
    }
    .social-links {
      margin-bottom: $space4;
      @include for-size(lg) {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        margin-right: $space4;
        display: inline-block;
        color: $white!important;
        @include for-size(lg) {
          margin-right: $space6;
        }
        &:last-child {
          margin-right: 0;
        }
        img {
          height: $space4;
          width: auto;
          margin: 0;
        }
      }
    }
    .footer-secondary-navigation {
      margin-bottom: $space7;
      @include for-size(lg) {
        margin-bottom: 0;
      }
      #menu-secondary-footer-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          font-family: $lato;
          font-size: $lato3;
          margin-right: $space4;
          display: inline-block;
          a {
            text-decoration: none;
            color: $teal;
          }
        }
      }
    }
    .email-form {
      display: flex;
      flex-direction: row;
      align-self: stretch;
      #mc_embed_signup {
        width: 100%;
      }
      #mc_embed_signup_scroll {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        position: relative;
      }
      .mc-field-group {
        flex-grow: 2;
        position: relative;
        div {
          display: none!important;
          background-color: $blue-dark!important;
          position: absolute;
          color: $white!important;
          left: 0;
          height: $space5;
          top: calc(#{$space5} * -1);
          display: flex;
          align-items: center;
          padding: 0 $space1!important;
          margin: 0!important;
          width: auto!important;
        }
      }
      #mce-responses {
        position: absolute;
        top: calc(#{$space5} * -1);
        .response {
          background-color: $teal!important;
          color: $white!important;
          left: 0;
          height: $space5;
          display: flex;
          align-items: center;
          padding: 0 $space1!important;
          margin: 0!important;
          width: auto!important;
          &#mce-error-response {
            display: none!important;
          }
        }
      }
      .input {
        height: $space7;
        border: 1px solid rgba(255,255,255,.25)!important;
        font-family: $lato!important;
        font-size: $lato3!important;
        color: $blue-medium!important;
        width: 100%;
        background-color: transparent!important;
        border-radius: 0!important;
        display: flex;
        align-items: center;
        padding: 0 $space4;
        flex-grow: 40;
        @include for-size(lg) {
          width: $space13;
          flex-grow: 0;
        }
        &.valid {
          border-color: $teal!important;
        }
      }

      .button-wrapper {
        margin-left: $space4;
        position: relative;
        overflow: hidden;
        height: $space7;
        .circle-button {
          margin-top: 0!important;
          background-color: $blue-dark-dark;
          height: $space7;
          width: $space7;
          //border-radius: calc(#{$space7} / 2);
          border-radius: 100%;
        }
        .button-arrow {
          border-top: $space1 solid transparent;
          border-bottom: $space1 solid transparent;
          border-left: $space-1 solid $white;
          height: 0;
          width: 0;
          position: absolute;
          top: $negativeSpace;
          left: $negativeSpace;
          bottom: $negativeSpace;
          right: $negativeSpace;
          margin: auto;
          opacity: .5
        }
        &:hover {
          .button-arrow {
            opacity: 1;
          }
        }
      }
    }
  }
}

.page {
  #the-content {
    margin-top: $space9;
    h1 {
      width: 100%;
      text-align: center;
    }
  }
}
.page-template-default {
  background-color: $neutral-light!important;
  #the-content {
    .inner-wrapper {
      margin: auto;
      a {
        color: $teal!important;
        &:hover, &:visited {
          color: $teal;
        }
      }
    }
  }
}

.box-3D {
  background-color: $white;
  padding: $space7;
}

.caldera-grid {
  .alert {
    font-family: $lato;
    font-size: $lato3;
    margin-bottom: $space6!important;
  }
  .row {
    margin: 0 -7.5px!important;
    width: calc(100% + 15px);
    max-width: calc(100% + 15px);
  }
  label {
    font-family: $lato;
    font-size: $lato3;
    font-weight: bold;
    margin-bottom: $space3!important;
  }
  input.form-control,textarea {
    border: 0px!important;
    font-family: $lato!important;
    font-size: $lato3!important;
    color: $blue-dark!important;
    padding: $space2!important;
    box-shadow: none!important;
  }
  .radio {
    display: inline-block!important;
    margin: 0!important;
    margin-right: $space4!important;
    label {
      margin-bottom: 0!important;
      padding-left: $space4;
      display: flex;
      align-items: center;
      input {
        margin-right: $space1!important;
        margin-top: 1px;
      }
    }
  }
  .form-group {
    margin-bottom: $space5!important;
    &.last {
      margin-bottom: $space6!important;
    }
  }
  .btn {
    width: 100%;
    height: $space6;
    background-color: $blue-dark!important;
    border: 0!important;
    font-family: $lato;
    font-size: $lato3!important;
    font-weight: bold;
    color: $white!important;
    text-transform: lowercase;
    width: $space10;
    @include for-size(phone-only) {
      font-size: $lato4!important;
      width: 100%;
    }
  }
  .col-sm-6, .col-sm-12 {
    @include for-size(md-down) {
      width: 100%;
    }
  }
}

.error404, .woocommerce-cart {
  background-color: #E0E8E8!important;
  .page-header {
    border-bottom: 1px solid $white;
    position: relative;
    z-index: 2;
    h1 {
      color: $white;
    }
  }
  #content {
    overflow: hidden;
    section {
      position: relative;
      .circle {
        &.big {
          width: $space15;
          height: $space15;
          //border-radius: calc(#{$space15} / 2);
          border-radius: 100%;
          background-color: rgba(10,199,197,.5);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: $negativeSpace;
          right: $negativeSpace;
          bottom: $negativeSpace;
          top: $negativeSpace;
          margin: auto;
        }
        &.small {
          width: $space14;
          height: $space14;
          //border-radius: calc(#{$space14} / 2);
          border-radius: 100%;
          background-color: rgba(10,199,197,.9);
        }
      }
      .message {
        margin: $space11 auto;
        text-align: center;
        position: relative;
        h1 {
          font-size: $ag7;
          color: $white;
          margin-bottom: $space6;
        }
        h5 {
          font-size: $starling5;
          font-family: $starling;
          color: $blue-dark;
          margin-bottom: 0;
        }
      }
    }
  }
  footer {
    margin-top: 0;
  }
}

.page-template-login {
  main {
    background-size: cover;
    background-position: center;
    .page-header {
      opacity: 0;
    }
    .section-login {
      .content {
        padding: $space8 0;
        .login-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          .login-inner-wrapper{
            padding: $space6 0 $space8 0;
            h3 {
              margin-top: 0;
              margin-bottom: $space7;
              text-align: center;
            }
            a {
              margin: 0;
              margin-top: $space4;
              display: inline-block;
              color: $blue-medium;
              font-family: $lato;
              font-size: $lato3;
            }
          }
        }
      }
    }
    .circle {
      height: $space13;
      width: $space13;
      //border-radius: calc(#{$space13} / 2);
      border-radius: 100%;
      background-color: rgba(10,199,197,.9);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: $space7 auto 0 auto;
      @include for-size(sm) {
        margin: auto;
      }
      input.input {
        background-color: $white!important;
        border: 0px!important;
      }
      h2 {
        font-size: $ag5;
        color: $white;
        margin-bottom: $space4;
        margin-top: 0;
      }
      h3 {
        font-family: $lato;
        font-weight: normal;
        font-size: $lato4;
        margin-bottom: $space6;
      }
    }
    form {
      input.input {
        height: $space6;
        width: $space11;
        border: 0px;
        border-radius: 0px;
        background-color: $neutral-light!important;
        //border: 1px solid #C2CCD0;
        padding: $space2;
        margin-bottom: $space3;
        font-family: $lato;
        font-size: $lato3;
        font-weight: bold;
        color: $blue-dark;
        &.password {
          margin-bottom: 0;
        }
      }
      input.button {
        margin-top: $space6;
        height: $space6;
        width: $space10;
        border-radius: 0;
        color: $white;
        padding: 0;
        background-color: $blue-dark;
        font-family: $lato;
        font-size: $lato3;
        font-weight: bold;
        text-transform: lowercase;
        border: 0;
        margin-bottom: 0;
      }
      label {
        display: none;
      }
      p {
        margin-bottom: 0;
        &.login-remember {
          label {
            display: block;
            font-family: $lato;
            font-weight: bold;
            font-size: $lato3;
            color: rgba(21,48,73,.5);
            display: flex;
            input {
              margin-right: $space2;
              width: $space4;
              height: $space4;
              border: 1px solid rgba(21,48,73,.2);
            }
          }
        }
        &.login-submit {
          position: absolute;
          right: 0;
          bottom: 0;
          .button {
            margin-top: 0;
            width: $space8;
          }
        }
      }
    }
  }
  footer {
    margin-top: 0;
  }
}

.page-header {
  width: 100%;
  height: $space9;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: $blue-dark;
    font-size: $ag4;
    margin: 0;
    display: none;
    @include for-size(sm) {
      display: block;
    }
  }
  border-bottom: 1px solid $blue-dark;
}

.cart-close-wrapper {
  height: $space7;
  display: none;
  align-items: center;
  margin-right: $space10;
  z-index: 4;
  cursor: pointer;
  @include for-size(lg) {
    margin-right: $space10;
  }
  .cart-close-inner-wrapper {
    cursor: pointer;
    opacity: .5;
    margin: auto;
    @include for-size(sm) {
      margin-left: 0;
    }
    span {
      background-color: $blue-dark;
      width: $space4;
      height: $space-2;
      display: block;
      transition: .2s ease-in transform;
      &.top {
        transform: translateY(#{$space-1}) rotate(-135deg);
        margin-bottom: $space1;
      }
      &.bottom {
        transform: translateY(calc(#{$space-1} * -1)) rotate(135deg);
      }
    }
  }
}
.cart-open {
  .cart-close-wrapper {
    &.in-header {
    display: none;
    @include for-size(sm) {
      display: flex;
      }
    }
    &.in-cart {
    display: flex;
    @include for-size(sm) {
      display: none;
      }
    }
  }
}


.bar-button {
  width: $space11;
  height: $space7;
  text-decoration: none;
  color: $white;
  background-color: $blue-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  a {
    text-decoration: none;
    font-family: $lato;
    font-weight: bold;
    font-size: $lato3;
  }
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  float: none!important;
}

.email-popup-wrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $teal-50;
  //display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 1s opacity ease-in;
  &.open {
    opacity: 1;
    z-index: 2;
  }

  .email-popup-click-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
    #email-popup{
      width: $space13;
      height: $space13;
      color: $white!important;
      position: relative;
      z-index: 2;
      .tag-mobile {
        display: flex;
        align-items:center;
        justify-content: center;
        margin-bottom: $space5;
        span {
          background-color: $blue-dark;
        }
        @include for-size(sm) {
          display: none;
        }
      }
      .tag {
        width: calc(#{$space9} + #{$space2});
        height: $space7;
        background-color: $blue-dark;
        position: absolute;
        right: calc((#{$space9} - #{$space2})  * -1);
        top: $negativeSpace;
        bottom: $negativeSpace;
        margin: auto;
        display: none;
        justify-content: flex-end;
        align-items: center;
        @include for-size(sm) {
          display: flex;
        }
        .close-wrapper {
          margin-right: $space3;
        }
      }
      .email-popup-circle{
        background-color: $blue-medium;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      .email-popup-inner-wrapper {
        text-align: center;
        h2 {
          font-size: $ag6;
          margin: 0;
          margin-bottom: $space5;
        }
        p {
          font-family: $lato;
          font-size: $lato4;
          color: $blue-dark;
        }
        input.email {
          height: $space6;
          width: $space11;
          border-radius: 0;
          border: 0;
          background-color: $white;
          padding: $space1;
          font-family: $lato;
          color: $blue-dark;
          font-size: $lato3;
        }
        .button {
          height: $space6;
          width: $space10;
          background-color: $teal;
          font-family: $lato;
          color: $white;
          border-radius: 0;
          text-transform: lowercase;
          margin-top: $space5;
        }
      }
    }
  }
}

.page-template-default {
  h2 {
    margin: 0 0 $space5 0;
  }
  h3 {
    margin: 0 0 $space5 0;
  }
  h4 {
    margin: 0 0 $space5 0;
  }
  ul {
    margin-left: 0;
  }
  ol {
    margin-left: 0;
  }
  img {
    margin: $space4 0;
  }
}
