@mixin for-size($range) {
  $sm: 480px;
  $md: 768px;
  $lg: 1024px;
  $xl: 1400px;
  $xxl: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$md - 1}) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == lg-down {
    @media (max-width: #{$lg - 1}) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}

@mixin target-metro {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin only_edge{
  @supports (-ms-accelerator:true) {
    & {
      @content;
    }
  }
}


$latoMultiplier: .45;
// Text Sizes https://www.modularscale.com/?16.48&pt&1.5
$lato-3: calc(0.354rem * #{$latoMultiplier}); //3.537px
$lato-2: calc(0.5rem * #{$latoMultiplier}); //5.002px
$lato-1: calc(0.707rem * #{$latoMultiplier}); //7.072px
$lato1: calc(1rem * #{$latoMultiplier}); //10px BASE SIZE
$lato2: calc(1.414rem * #{$latoMultiplier}); //14.14px
$lato3: calc(1.999rem * #{$latoMultiplier}); //19.994px
$lato4: calc(2.827rem * #{$latoMultiplier}); //28.271px
$lato5: calc(3.998rem * #{$latoMultiplier}); //39.976px
$lato6: calc(5.653rem * #{$latoMultiplier}); //56.526px
$lato7: calc(7.993rem * #{$latoMultiplier}); //79.928px
$lato8: calc(11.302rem * #{$latoMultiplier}); //113.018px
$lato9: calc(15.981rem * #{$latoMultiplier}); //159.807px
$lato10: calc(22.597rem * #{$latoMultiplier}); //225.967px
$lato11: calc(31.952rem * #{$latoMultiplier}); //319.517px


$starlingMultiplier: .52;
// Text Sizes https://www.modularscale.com/?16.48&pt&1.5
$starling-2: calc(0.5rem * #{$starlingMultiplier}); //5.6px
$starling-1: calc(0.707rem * #{$starlingMultiplier}); //8px
$starling1: calc(1rem * #{$starlingMultiplier}); //11.3px BASE SIZE
$starling2: calc(1.414rem * #{$starlingMultiplier}); //15.9px
$starling3: calc(1.999rem * #{$starlingMultiplier}); //22.6px
$starling4: calc(2.827rem * #{$starlingMultiplier}); //32px
$starling5: calc(3.998rem * #{$starlingMultiplier}); //45px
$starling6: calc(5.653rem * #{$starlingMultiplier}); //64px
$starling7: calc(7.993rem * #{$starlingMultiplier}); //90px
$starling8: calc(11.302rem * #{$starlingMultiplier}); //128px
$starling9: calc(15.981rem * #{$starlingMultiplier}); //181px
$starling10: calc(22.597rem * #{$starlingMultiplier}); //255px
$starling11: calc(31.952rem * #{$starlingMultiplier}); //361px

$avantgardeMultiplier: .35;
// Text Sizes https://www.modularscale.com/?16.48&pt&1.5
$ag-3: calc(0.354rem * #{$avantgardeMultiplier}); //3.537px
$ag-2: calc(0.5rem * #{$avantgardeMultiplier}); //5.002px
$ag-1: calc(0.707rem * #{$avantgardeMultiplier}); //7.072px
$ag1: calc(1rem * #{$avantgardeMultiplier}); //10px BASE SIZE
$ag2: calc(1.414rem * #{$avantgardeMultiplier}); //14.14px
$ag3: calc(1.999rem * #{$avantgardeMultiplier}); //19.994px
$ag4: calc(2.827rem * #{$avantgardeMultiplier}); //28.271px
$ag5: calc(3.998rem * #{$avantgardeMultiplier}); //39.976px
$ag6: calc(5.653rem * #{$avantgardeMultiplier}); //56.526px
$ag7: calc(7.993rem * #{$avantgardeMultiplier}); //79.928px
$ag8: calc(11.302rem * #{$avantgardeMultiplier}); //113.018px
$ag9: calc(15.981rem * #{$avantgardeMultiplier}); //159.807px
$ag10: calc(22.597rem * #{$avantgardeMultiplier}); //225.967px
$ag11: calc(31.952rem * #{$avantgardeMultiplier}); //319.517px


// Space Sizes https://www.modularscale.com/?16.48&pt&1.5
$multiple: .5;
$space-3: calc(0.354rem * #{$multiple}); //3.537px
$space-2: calc(0.5rem * #{$multiple}); //5.002px
$space-1: calc(0.707rem * #{$multiple}); //7.072px
$space1: calc(1rem * #{$multiple}); //10px BASE SIZE
$space2: calc(1.414rem * #{$multiple}); //14.14px
$space3: calc(1.999rem * #{$multiple}); //19.994px
$space4: calc(2.827rem * #{$multiple}); //28.271px
$space5: calc(3.998rem * #{$multiple}); //39.976px
$space6: calc(5.653rem * #{$multiple}); //56.526px
$space7: calc(7.993rem * #{$multiple}); //79.928px
$space8: calc(11.302rem * #{$multiple}); //113.018px
$space9: calc(15.981rem * #{$multiple}); //159.807px
$space10: calc(22.597rem * #{$multiple}); //225.967px
$space11: calc(31.952rem * #{$multiple}); //319.517px
$space12: calc(45.18rem * #{$multiple}); //451px
$space13: calc(63.884rem * #{$multiple}); //638.841px
$space14: calc(90.332rem * #{$multiple}); //903.321px
$space15: calc(127.73rem * #{$multiple}); //1277.297px
$space16: calc(180.61rem * #{$multiple}); //1806px
$space17: calc(255.382rem * #{$multiple}); //2553.822px
$space18: calc(361.11rem * #{$multiple});





// Assorted
$silhouette: $space10;
$headerHeight: calc(#{$space7} + #{$space5} + #{$space5});
$negativeSpace: -9999px;
$depth: $space2;
$mobilePadding: $space6;
$mobileMenuTop: $space11;
$cartGradientHeight: $space9;

$white: #ffffff;
$blue-darkest: #182337;
$blue-dark: #153049;
$blue-dark-dark: #182337;
$blue-medium-dark: #1D2F40;
$blue-medium: #94C5E0;
$blue-light: #E1F4FD;
$red: #EA3B61;
$purple: #8F3FCA;
$teal: #0AC7C5;
$neutral-medium: #DEE6E5;
$neutral-light: #EEF3F2;
$blue-other: #1A5EA7;

$dark-blue-50: rgba(21,48,73,.5);
$teal-50: rgba(10,199,197,.5);
$teal-90: rgba(10,199,197,.9);



$lato: "lato", sans-serif;
$starling: "starling", serif;
$avantgarde: "itc-avant-garde-gothic-pro", sans-serif;
