.page-template-contact {
  background-color: $neutral-light!important;
  .sticker-wrapper {
    height: 0;
    position: relative;
    display: none;
    @include for-size(md) {
      display: block;
    }
    .sticker {
      top: $space7;
      left: 0;
      @include for-size(xl) {
        left: calc(#{$space9} / -2);
      }
    }
  }
  .contact-form {
    order: 1;
    @include for-size(lg) {
      order: 2;
    }
  }
  .sidebar {
    position: relative;
    order: 2;
    margin-top: $space5;
    @include for-size(sm) {
      display: flex;
      flex-direction: row;
    }
    @include for-size(lg) {
      order: 1;
      margin-top: 0;
      display: block;
    }
    h5 {
      margin-top: 0;
      font-size: $lato4;
      @include for-size(md) {
        font-size: $lato3;
      }
    }
    p {
      font-size: $starling3;
      @include for-size(lg) {
        font-size: $starling2;
      }
    }
    .address {
      margin-bottom: $space6;
      @include for-size(sm) {
        margin-right: $space6;
      }
      @include for-size(lg) {
        margin-right: 0;
      }
    }
    .upcycling-instructions {
      ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        counter-reset: step;
        li {
          margin-bottom: $space2;
          font-size: $starling3;
          @include for-size(lg) {
            font-size: $starling2;
          }
          &:last-child {
            margin-bottom: 0;
          }
          ::marker {
            font-family: $avantgarde;
            font-size: $ag3;
            @include for-size(lg) {
              font-size: $ag2;
            }
          }
          &::before {
            counter-increment: step;                   /* Increment the value of section counter by 1 */
            content: counter(step);
            width: $space6;
            height: $space6;
            font-family: $avantgarde;
            font-size: $ag2;
            margin: auto;
            font-weight: bold;
            padding-right: $space3;
          }
        }
      }
    }
  }
  .section-facts {
    margin-top: $space9;
  }
  footer {
    margin-top: 0;
  }
}

.page-template-story {
  background-image: linear-gradient(72deg, #e4eef5, #eff4f9);
  .page-header {
    border-bottom: 1px solid $dark-blue-50;
  }
  .family-image {
    position: relative;
    margin-bottom: $space9;
    @include for-size(md) {
      margin-top: $space6;
      margin-bottom: 0;
    }
    .sticker {
      background-color: rgba(10,199,197,.9);
      right: 0;
      left: inherit;
      bottom: calc(#{$space7} * -1);
    }
  }
  .story-wrapper {
    @include for-size(phone-only) {
      padding: 0;
    }
    .inner-wrapper-3D{
      display: block;
      padding: $space6 $space6;
      h2 {
        margin-bottom: $space8;
      }
      h5 {
        font-size: $ag4;
        font-weight: bold;
        margin-top: $space6;
      }
      .signature {
        height: $space8;
        padding-left: $space7;
        margin-bottom: $space2;
      }
    }
  }
  .section-facts {
    margin-top: $space8;
    border-top: 1px solid $dark-blue-50;
    @include for-size(sm) {
      margin-top: $space9;
    }
  }
  footer {
    margin-top: 0;
  }
}

.page-template-faq {
  h1 {
    color: $white!important;
  }
  .section-questions {
    background-color: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .question-wrapper {
      width: 100%;
      height: $space12;
      border: 1px solid $neutral-medium;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: $space5;
      @include for-size(sm) {
        width: 50%;
      }
      .letter-wrapper {
        width: $space6;
        height: $space6;
        border-radius: 100%;
        background-color: transparent;
        border: 1px solid $dark-blue-50;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark-blue-50;
        position: absolute;
        top: $space4;
        left: $space4;
        @include for-size(sm) {
          width: $space5;
          height: $space5;
        }
        &.answer {
          background-color: $teal;
          border: 0px;
        }
        h2 {
          font-size: $ag4;
          @include for-size(sm) {
            font-size: $ag3;
          }
        }
        &.answer {
          h2 {
            color: $white;
          }
        }
      }
      h3 {
        position: absolute;
        top: $space4;
        right: $space4;
        color: $teal;
        font-size: $ag5;
        margin: 0;
        @include for-size(sm) {
          display: none;
        }
      }
      .answer {
        display: none;
        text-align: center;
      }
      .question {
        display: flex;
      }
      .text-wrapper {
        width: $space12;
        text-align: center;
        justify-content: center;
      }
      &:hover {
        .question {
          display: none;
        }
        .answer {
          display: flex;
        }
        .tap {
          opacity: .25;
        }
      }
    }
  }
  footer {
    margin-top: 0;
  }
}

.page-template-how-to {
  counter-reset: step;
  h1 {
    color: $white;
  }
  .section-instructions {
    border-top: 1px solid $dark-blue-50;
    border-bottom: 1px solid $dark-blue-50;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: $space5 0 0 0;
    margin-bottom: 0;
    .slick-track {
      width: 100vw!important;
      display: flex!important;
      justify-content: space-between;
      .slick-slide {
        opacity: 1!important;
        width: $space10;
        &.slick-current {
          border-bottom: $space-2 solid $blue-dark;
        }
        .step {
          flex-grow: 1;
          text-align: center;
          cursor: pointer;
          h2 {
            color: $white;
            margin-top: $space4;
            margin-bottom: $space5;
          }
          &::before {
            counter-increment: step;                   /* Increment the value of section counter by 1 */
            content: counter(step);
            width: $space6;
            height: $space6;
            display: flex;
            //border-radius: calc(#{$space6} /2);
            border-radius: 100%;
            background-color: $blue-medium;
            align-items: center;
            justify-content: center;
            font-family: $avantgarde;
            font-size: $ag4;
            margin: auto;
          }
        }
      }
    }
  }
  .section-cycle {
    position: relative;
    height: calc(#{$space14} - #{$space7});
    @include for-size(sm) {
      height: $space14;
    }
    @include for-size(lg) {
      height: auto;
    }
    .semicircle {
      width: $space14;
      height: calc(#{$space14} / 2);
      border: $space-1 solid $white;
      border-bottom-left-radius: calc(#{$space14} * 2);
      border-bottom-right-radius: calc(#{$space14} * 2);
      border-top: 0;
      margin: auto;
      margin-top: calc(#{$space10});
      margin-bottom: $space8;
      position: absolute;
      left: $negativeSpace;
      right: $negativeSpace;
      @include for-size(sm) {
        height: calc(#{$space14} / 2);
      }
      @include for-size(md) {
        width: $space15;
        height: calc(#{$space15} / 2);
        border-bottom-left-radius: calc(#{$space15} * 2);
        border-bottom-right-radius: calc(#{$space15} * 2);
        margin-top: $space9;
        position: relative;
        left: auto;
        right: auto;
      }
      &::before {
        content:'';
        width: $space6;
        height: $space6;
        background-image: url('../images/icons/arrowhead.svg');
      }
      .slick-list {
        transform: translateY(calc(#{$space9} * -1));
        @include for-size(md) {
          transform: none;
          margin-bottom: calc(#{$space9} + #{$space5}) ;
        }
        @include for-size(lg) {
          margin-bottom: 0;
        }
      }
      .slick-dots {
        display: flex;
        justify-content: center;
      }
      .slick-arrow {
        height: $space7;
        width: $space7;
        //border-radius: calc(#{$space7} / 2);
        border-radius: 100%;
        &.slick-next {
          transform: translateX($space8);
          @include for-size(lg) {
            transform: translateX($space7);
          }
          @include for-size(xl) {
            transform: translateX($space8);
          }
        }
        &.slick-prev {
          transform: translateX(calc(#{$space8} * -1));
          @include for-size(lg) {
            transform: translateX(calc(#{$space7} * -1));
          }
          @include for-size(xl) {
            transform: translateX(calc(#{$space8} * -1));
          }
        }
      }
      .step {
        display: flex!important;
        align-items: center;
        text-align: center;
        flex-direction: column;
        img {
          height: $space10;
          width: auto;
        }
        p {
          margin-top: $space6;
          color: $white;
          font-size: $starling4;
          width: $space12;
        }
      }
    }
  }
  .upcycle-instructions {
    background-color: $blue-darkest;
    padding: $space9 0;
    text-align: center;
    h2 {
      color: $teal;
      margin-bottom: $space8;
      font-size: $ag4;
      @include for-size(sm) {
        font-size: $ag5;
      }
    }
    p {
      color: $white;
      font-size: $starling4;
    }
  }
  footer {
    margin-top: 0;
  }
}

.page-template-praise {
  .section-press {
    h1 {
      color: $white;
      margin-bottom: 0;
    }
    .praise-carousel {
      .slick-slide {
        opacity: 0;
        transition: opacity .1s ease-in;
        &.slick-current {
          opacity: 1;
        }
      }
      a {
        text-decoration: none;
        //transition: .1s transform;
        &:hover {
          transform: scale(1.05);
        }
      }
      p {
        font-family: $starling;
        font-size: $starling5;
        color: $white;
        text-align: center;
        //position: relative;
        margin: $space9 0 $space9 0;
        text-transform: none!important;
        @include for-size(sm) {
          margin: $space9 $space9 $space9 $space9;
          &:before, &:after {
            content: '“';
            display: block;
            font-family: $starling;
            font-size: $starling9;
            position: absolute;
            font-weight: normal;
            opacity: .3;
            left: $space4;
            height: 100%;
            display: flex;
            align-items: center;
            top: 0;
          }
          &:after {
            content: '”';
            left: auto;
            right: $space4;
          }
        }
      }
    }
    .praise-carousel-controls {
      margin: auto;
      margin-bottom: $space7;
      padding: 0!important;
      .slick-track {
        transform: none!important;
        width: 100%!important;
        display: flex!important;
        justify-content: center;
        .slick-slide {
          opacity: 1!important;
          img {
            opacity: .25!important;
            max-height: $space3;
            max-width: $space9;
            width: auto!important;
            margin: auto;
            display: block!important;
            cursor: pointer;
            position: relative;
            margin: 0 calc(#{$space7} / 2);
            margin-top: $space5;
            @include for-size(sm) {
              max-height: $space4;
              max-width: $space10;
            }
          }
          &.slick-current {
            div {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                top: calc(#{$space5} * -1);
                width: 0;
                height: 0;
                border-left: $space1 solid transparent;
                border-right: $space1 solid transparent;
                border-bottom: $space1 solid $white;
                margin: auto;
                left: -9999px;
                right: -9999px;
              }
              img {
                opacity: 1!important;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
  .section-reviews {
    background-color: $blue-darkest;
    overflow: hidden;
    padding: $space10 0 $space7 0;
    .woocommerce-review__author {
      order: 3;
    }
    .featured-praise {
      .description {
        font-size: $starling5;
      }
    }
  }
  .section-facts {
    background-color: $blue-darkest;
    margin-bottom: 0;
  }
  .facts-wrapper {
    background-color: $blue-darkest;
    padding-bottom: $space8;
    @include for-size(sm) {
      padding-bottom: 0;
    }
  }
  footer {
    margin-top: 0;
  }
}

.page-template-about {
  .page-header h1 {
    color: $white;
  }
  .above-product {
    text-align: center;
    margin: auto;
    h2 {
      font-family: $starling;
      color: $blue-dark;
      font-size: $starling5;
      width: 100%;
      text-align: center;
      margin: 0 0 $space7 0;
    }
    h3 {
      width: 100%;
      text-align: center;
      color: $white;
      font-size: $ag5;
      margin: 0 0 $space8 0;
    }
  }
  .section-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $space6;
    position: relative;
    overflow: hidden;
    .horizontal-line {
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: $dark-blue-50;
    }
    .the-product {
      height: $space15;
      position: absolute;
      right: $negativeSpace;
      left: $negativeSpace;
      top: $negativeSpace;
      bottom: $negativeSpace;
      margin: auto;
      max-width: none;
      @include for-size(sm) {
        height: $space14;
      }
      @include for-size(md) {
        height: $space15;
      }
    }
    .product-image {
      width: 100%;
      height: $space15;
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      @include for-size(sm) {
        height: $space14;
      }
      @include for-size(md) {
        height: $space15;
      }
      .col-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: $ag8;
          display: block;
          text-align: center;
          margin: 0 0 $space7 0;
        }
        h3 {
          display: block;
          font-size: $ag6;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
  .marquee {
    margin-bottom: $space8;
  }
  .below-product {
    flex-direction: column;
    h2 {
      font-size: $ag7;
      display: block;
      margin: 0 0 $space6 0;
      color: $white;
      text-align: center;
    }
    h3 {
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      font-family: $starling;
      font-size: $starling5;
    }
  }
  .two-columns {
    margin-top: $space9;
    border-top: 1px solid $dark-blue-50;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .column {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $space8 0;
      @include for-size(sm) {
        flex-basis: 50%;
      }
      &.left {
        border-bottom: 1px solid $dark-blue-50;
        @include for-size(sm) {
          border-right: 1px solid $dark-blue-50;
          border-bottom: 0px;
        }
      }
      h3 {
        margin: auto;
        text-align: center;
        color: $white;
        font-size: $ag6;
        margin: 0 0 $space8 0;
      }
      .featured-image {
        width: $space12;
        height: $space12;
        //border-radius: calc(#{$space12} / 2);
        border-radius: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: $space8;
        @include for-size(sm) {
          width: $space11;
          height: $space11;
        }
        @include for-size(md) {
          width: $space12;
          height: $space12;
        }
      }
      .accreditations {
        width: $space12;
        @include for-size(sm) {
          padding: 0 $space4;
        }
        .accreditation {
          display: flex;
          flex-direction: row;
          &:not(:last-child){
            margin-bottom: $space6;
          }
          .icon {
            flex-grow: 3;
            width: $space8;
            height: $space8;
            //border-radius: calc(#{$space8} / 2);
            border-radius: 100%;
            border: 1px solid $dark-blue-50;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: $space6;
            img {
              height: $space5;
              width: auto;
            }
          }
          .accreditation-content {
            flex-shrink: 40;
          }
        }
      }
    }
  }
  .section-teal-row {
    border-top: 1px solid $dark-blue-50;
    padding: $space9 0;
    margin: auto;
    .teal-inner-wrapper {
      margin: auto;
      text-align: center;
      h3 {
        margin: 0;
        margin-bottom: $space5;
      }
      p {
        margin: 0;
      }
    }
  }
  .section-upcycle {
    background-color: $blue-darkest;
    padding: $space9 0;
    h3 {
      font-size: $ag6;
      color: $white;
      display: block;
      text-align: center;
      margin: 0 auto $space8 auto;
    }
    .steps {
      counter-reset: step;
      @include for-size(sm) {
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
      }
      .slick-dots {
        text-align: center;
        margin-top: $space6;
        li button {
          background-color: $blue-light;
        }
      }
      .step {
        width: $space9!important;
        @include for-size(sm) {
          margin: 0 calc(#{$space8} / 2);
        }
        @include for-size(md) {
          width: $space11!important;
        }
        .step-content {
          font-family: $lato;
          font-size: $lato4;
          color: $white;
          text-align: center;
          font-weight: 100;
          @include for-size(sm) {
            font-size: $lato3;
          }
          @include for-size(md) {
            font-size: $lato4;
          }
          &::before {
            counter-increment: step;                   /* Increment the value of section counter by 1 */
            content: counter(step);
            width: $space6;
            height: $space6;
            border: 1px solid $blue-medium;
            //border-radius: calc(#{$space6} / 2);
            border-radius: 100%;
            margin: 0 auto $space6 auto;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $lato4;
            font-family: $lato;
          }
        }
      }
    }
  }
  footer {
    margin-top: 0;
  }
}
