.page-template-account {
  .page-body {
    background-position: center;
    background-size: cover;
  }
  &.logged-in {
    .page-body {
      background-image: none!important;
    }
  }
  &:not(.logged-in) {
    .page-header {
      opacity: 0;
    }
    #page {
      display: flex;
      flex-direction: column;
      #content {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        .page-body {
          flex-grow: 2;
        }
      }
    }
    #the-content {
      margin-top: 0;
      overflow: hidden;
      .col-3 {
        @include for-size(md) {
          width: calc((100% / 6) * 3)
        }
        &.new-account {
          height: $space13;
          margin: $space7 auto 0 auto;
          @include for-size(sm) {
            height: auto;
            margin: auto;
          }
        }
      }
    }
    footer {
      margin-top: 0;
    }
    .mobile-logout {
      display: none;
    }
  }
  .woocommerce-address-fields .button {
    width: 100%!important;
    height: $space7!important;
    background-color: $teal!important;
    color: $white!important;
    font-family: $lato!important;
    font-size: $lato4!important;
    text-transform: lowercase!important;
    border-radius: 0!important;
    margin-top: $space8!important;
    @include for-size(sm) {
      width: $space10!important;
      height: $space6!important;
      font-size: $lato3!important;
    }
  }
}


.woocommerce-account {
  background-color: $neutral-medium!important;
  .page-header {
    border-bottom: 1px solid $dark-blue-50;
  }
  #the-content {
    margin-top: $space6;
    @include for-size(sm) {
      margin-top: $space6;
    }
    @include for-size(md) {
      margin-top: $space9;
    }
  }
  .woocommerce {
    display: flex;
    width: 100%;
    .row {
      width: 100%;
      .col-4 {
        @include for-size(md) {
          width: calc((100% / 6) * 4)
        }
      }
    }
    .woocommerce-MyAccount-navigation {
      @include for-size(md) {
        height: 100%;
      }
      ul {
        padding: 0;
        margin: 0 0 $space8 0;
        @include for-size(md) {
          height: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        li {
          list-style-type: none;
          padding: 0;
          margin-right: $space5;
          display: inline-block;
          @include for-size(md) {
            display: block;
            margin-top: $space5;
            margin-right: 0;
          }
          &:first-child {
            margin-top: 0;
          }
          a {
            text-decoration: none;
            color: $blue-dark;
            font-family: $avantgarde;
            font-size: $ag5;
            font-weight: bold;
            @include for-size(md) {
              font-size: $ag4;
            }
            :hover {
              color: $teal;
            }
          }
          &.is-active{
            a {
              color: $teal;
            }
          }
          &.woocommerce-MyAccount-navigation-link--customer-logout {
            margin-top: $space9;
            flex-grow: 2;
            align-items: flex-end;
            display: none!important;
            @include for-size(md) {
              display: flex!important;
            }
            a {
              color: $teal;
              height: $space6;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
    .woocommerce-pagination {
      display: none;
    }
    .woocommerce-MyAccount-content {
      width: 100%;
      float: none;
      .col2-set {
        margin: 0 -1rem;
      }
      .inner-wrapper-3D {
        padding: $space6;
        table {
          margin-bottom: 0;
        }
      }
      h2 {
        font-size: $ag6;
        margin: 0;
        margin-bottom: $space8;
      }
      h3 {
        font-family: $avantgarde;
        font-size: $ag4;
        margin: 0;
        margin-top: $space5;
        margin-bottom: $space7;
      }
      label {
        font-family: $lato;
        font-weight: bold;
        color: $blue-dark;
        font-size: $lato3;
        margin: 0;
        margin-bottom: $space3;
        .required {
          color: $red;
        }
      }
      p {
        margin-bottom: 0;
        .input-text {
          background-color: $white;
          height: $space6;
          border: 0;
          border-radius: 0;
          padding: $space2;
          font-family: $lato;
          font-size: $lato3;
          color: $blue-dark;
          margin: 0;
          margin-bottom: $space5;
          &::placeholder {
            text-transform: lowercase;
            color: $dark-blue-50;
          }
          &.last {
            margin-bottom: $space7;
          }
        }
      }
      .display-name span {
        display: none;
      }
      .edit-account {
        .button {
          width: 100%!important;
          height: $space7!important;
          background-color: $teal!important;
          color: $white!important;
          font-family: $lato!important;
          font-size: $lato4!important;
          text-transform: lowercase!important;
          border-radius: 0!important;
          margin-top: $space8!important;
          @include for-size(sm) {
            width: $space10!important;
            height: $space6!important;
            font-size: $lato3!important;
          }
        }
      }

    }
    .outer-wrapper-3D {
      margin-right: auto;
      .form-password {
        padding: $space7;
        fieldset {
          border: 0;
          padding: 0;
          margin: auto;
          width: 100%;
          p {
            font-family: $lato;
            font-size: $lato3;
            text-align: center;
            font-weight: normal;
            &.instructions {
              margin-bottom: $space6;
            }
          }
          label {
            display: none;
          }
          .input-text {
            background-color: $neutral-light;
            border: 1px solid #C2CCD0;
            color: $blue-dark;
            &.current {
              margin-bottom: $space5;
            }
          }
        }
      }
    }
    .woocommerce-Addresses {
      .woocommerce-Address {
        &:not(:last-child){
          margin-bottom: $space6;
          @include for-size(sm) {
              margin-bottom: 0;
          }
        }
        h3 {
          margin: 0 0 $space5 0;
          @include for-size(sm) {
              margin: 0 0 $space6 0;
          }
        }
        address {
          margin-bottom: $space5;
          font-family: $lato;
          font-size: $lato3;
          opacity: .5;
          font-style: normal;
          @include for-size(sm) {
              margin-bottom: $space6;;
          }
        }
      }
    }
    a:visited {
      color: $teal;
    }
  }
  .wc-product-reviews-pro-profile {
    .my_account_contributions {
      padding: $space6;
      display: table;
      border: 0;
    }
    p {
      padding: $space6;
    }
  }
  .mobile-logout {
    margin-top: $space8;
    @include for-size(md) {
      display: none;
    }
    a {
      font-family: $avantgarde;
      font-size: $ag5;
      text-decoration: none;
      font-weight: bold;
    }
  }
  table {
    font-family: $lato;
    border: 0px!important;
    a:hover {
      color: $teal;
      opacity: .5;
    }
    .woocommerce-orders-table__cell-order-actions {
      a:visited {
        color: #515151;
      }
    }
    .contribution-actions {
      display: none;
    }
  }
  footer {
    margin-top: $space8;
    @include for-size(md) {
      margin-top: $space9;
    }
  }
}

.woocommerce-view-order {
  .woocommerce {
    .woocommerce-MyAccount-content {
      .inner-wrapper-3D {
        flex-direction: column;
        h2 {
          margin-bottom: $space5;
        }
        .order-status {
          margin: inherit;
          margin-bottom: $space6;
        }
      }
    }
  }
}

.woocommerce-account {
  .automatewoo-optin {
    display: none;
  }
      .section-login {
        padding: $space8 0;
        .input-text {
          height: $space6;
          width: $space11;
          border: 0px;
          border-radius: 0px;
          background-color: $neutral-light!important;
          //border: 1px solid #C2CCD0;
          padding: $space2;
          margin-bottom: $space3;
          font-family: $lato;
          font-size: $lato3;
          font-weight: bold;
          color: $blue-dark;
        }
        .login-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          .outer-wrapper-3D {
            margin: auto;
            .inner-wrapper-3D{
              padding: 0;
              .login-inner-wrapper{
                padding: $space6 $space6 $space8 $space6;
                position: relative;
                .input-text {
                  height: $space6;
                  width: $space11;
                  border: 0px;
                  border-radius: 0px;
                  background-color: $neutral-light!important;
                  //border: 1px solid #C2CCD0;
                  padding: $space2;
                  margin-bottom: $space3;
                  font-family: $lato;
                  font-size: $lato3;
                  font-weight: bold;
                  color: $blue-dark;
                  &.password {
                    margin-bottom: 0;
                  }
                }
                form {
                  margin: 0;
                  padding: 0;
                  border: 0;
                }
                h3 {
                  margin-top: 0;
                  margin-bottom: $space7;
                  text-align: center;
                }
                a {
                  margin: 0;
                  margin-top: $space4;
                  display: inline-block;
                  color: $blue-medium;
                  font-family: $lato;
                  font-size: $lato3;
                }
                .woocommerce-form-login__submit {
                  height: $space6!important;
                  width: $space8!important;
                  border-radius: 0;
                  color: $white;
                  padding: 0;
                  background-color: $blue-dark!important;
                  font-family: $lato;
                  font-size: $lato3;
                  font-weight: bold;
                  text-transform: lowercase;
                  border: 0;
                  margin-bottom: 0;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  margin-right: 0;
                }
                p {
                  margin-bottom: 0;
                  &.login-remember {
                    label {
                      font-family: $lato;
                      font-weight: bold;
                      font-size: $lato3;
                      color: rgba(21,48,73,.5);
                      display: flex;
                      align-items: center;
                      input {
                        margin-right: $space2;
                        width: $space4;
                        height: $space4;
                        border: 1px solid rgba(21,48,73,.2);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    .login-circle {
      height: $space13;
      width: $space13;
      border-radius: 100%;
      background-color: rgba(10,199,197,.9);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
      position: absolute;
      top: $negativeSpace;
      left: $negativeSpace;
      bottom: $negativeSpace;
      right: $negativeSpace;
      @include for-size(sm) {
        position: relative;
        margin: $space7 auto 0 auto;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
      }
      @include for-size(md) {
        margin: auto;

      }
      .input-text {
        background-color: $white!important;
      }
      form {
        padding: 0;
        margin: 0;
        border: 0;
      }
      button {
        background-color: $blue-dark!important;
        margin-top: $space5!important;
        height: $space6;
        width: $space10;
        border-radius: 0;
        color: $white;
        padding: 0;
        font-family: $lato;
        font-size: $lato3;
        font-weight: bold;
        text-transform: lowercase;
        border: 0;
        margin-bottom: 0;
        &:hover {
          color: $white;
        }
      }
      p {
        font-family: $lato;
        text-align: center;
        font-size: $lato3;
      }
      .woocommerce-privacy-policy-text {
        display: none;
      }
      input.input {
        background-color: $white!important;
        border: 0px!important;
      }
      h2 {
        font-size: $ag5;
        color: $white;
        margin-bottom: $space4;
        margin-top: 0;
      }
      h3 {
        font-family: $lato;
        font-weight: normal;
        font-size: $lato4;
        margin-bottom: $space6;
      }
    }
    form {
      input.input {
        height: $space6;
        width: $space11;
        border: 0px;
        border-radius: 0px;
        background-color: $neutral-light!important;
        //border: 1px solid #C2CCD0;
        padding: $space2;
        margin-bottom: $space3;
        font-family: $lato;
        font-size: $lato3;
        font-weight: bold;
        color: $blue-dark;
        &.password {
          margin-bottom: 0;
        }
      }
      input.button {
        margin-top: $space6;
        height: $space6;
        width: $space10;
        border-radius: 0;
        color: $white;
        padding: 0;
        background-color: $blue-dark;
        font-family: $lato;
        font-size: $lato3;
        font-weight: bold;
        text-transform: lowercase;
        border: 0;
        margin-bottom: 0;
      }
      label {
        display: none;
      }
      p {
        margin-bottom: 0;
        &.login-remember {
          label {
            display: block;
            font-family: $lato;
            font-weight: bold;
            font-size: $lato3;
            color: rgba(21,48,73,.5);
            display: flex;
            input {
              margin-right: $space2;
              width: $space4;
              height: $space4;
              border: 1px solid rgba(21,48,73,.2);
            }
          }
        }
        &.login-submit {
          position: absolute;
          right: 0;
          bottom: 0;
          .button {
            margin-top: 0;
            width: $space8;
          }
        }
      }
    }
  }

.blockOverlay {
  background-color: $white!important;
  opacity: .8!important;
}

.how-display-review {
  display: none!important;
}
.woocommerce-lost-password {
  .mobile-logout {
    display: none!important;
  }
  #the-content {
    margin-top: $space8;
    @include for-size(md) {
      margin-top: $space9;
    }
  }
  .woocommerce {
    margin: auto;
    width: $space13;
    height: $space13;
    border-radius: 100%;
    background-color: $teal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $space7;
    form {
      text-align: center;
    }
    .woocommerce-form-row {
      width: 100%;
    }
    p {
      margin: 0 auto;
      padding: 0;
    }
    input {
      width: $space11!important;
      height: $space6;
      padding: $space1;
      margin: auto;
      border-radius: 0;
      border: 0;
      margin-bottom: $space5;
      font-family: $lato;
      font-size: $lato3;
      color: $blue-dark;
    }
    .message, .input-paragraph {
      margin-bottom: $space5;
    }
    button {
      width: $space10;
      height: $space6;
      border: 0;
      border-radius: 0;
      text-transform: lowercase;
      background-color: $blue-dark;
      font-family: $lato;
      font-size: $lato3;
      font-weight: bold;
      color: $white;
      &:hover {
        background-color: $blue-dark;
        color: $white;
      }
    }
  }
}

.page-template-refer {
  .page-body {
    background-position: center;
    background-size: cover;
  }
  &.logged-in {
    .page-body {
      background-image: none!important;
    }
  }
  #page {
    display: flex;
    flex-direction: column;
    #content {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      .page-body {
        flex-grow: 2;
      }
    }
  }
  .aw-referrals-share-container {
    margin-bottom: $space9;
  }
  .aw-referrals-well {
    .button {
      width: $space10;
      height: $space6;
      border: 0;
      border-radius: 0;
      text-transform: lowercase;
      background-color: $teal;
      font-family: $lato;
      font-size: $lato3;
      font-weight: bold;
      color: $white;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $teal;
        color: $white;
      }
    }
    h4 {
      text-align: center;
      font-size: $ag5;
      margin: 0 auto $space5 auto;
    }
    p {
      text-align: center;
      margin-bottom: 0;
      &:not(:last-of-type) {
        margin-bottom: $space5;
      }
    }
  }
  h2 {
    text-align: center;
    color: $white;
    font-size: $ag7;
    margin-bottom: $space7;
  }
  .aw-referrals-share-buttons a {
    font-family: $lato;
    font-size: $lato4!important;
    height: $space7;
    width: $space10;
    margin-bottom: $space5!important;
  }
  .form-row {
    padding: 0!important;
    margin-bottom: $space5!important;
    &:last-child {
      margin-bottom: $space8!important;
    }
    input {
      height: $space6;
      padding: $space2;
      font-family: $lato;
      text-transform: lowercase;
      border: 0px;
      border-radius: 0;
      font-size: $lato3;
    }
  }
  .aw-referrals-share-or {
    font-family: $lato;
    font-size: $lato3;
    color: $white;
    text-transform: lowercase;
    opacity: .5;
    margin-bottom: $space5;
  }
  button.button {
    width: $space12;
    height: $space7;
    border: 0;
    border-radius: 0;
    text-transform: lowercase;
    background-color: $blue-dark;
    font-family: $lato;
    font-size: $lato3;
    font-weight: bold;
    color: $white;
    margin: auto;
    display: block;
    &:hover {
      background-color: $blue-dark;
      color: $white;
    }
  }
  footer {
    margin-top: 0;
  }
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
  top: .9rem;
  right: .9rem;
}
