.woocommerce-checkout {
  background-color: $blue-dark!important;
  .page-header {
    background-color: $teal;
    border-bottom: 1px dashed $white;
    h1 {
      color: $white;
    }
  }
  .page-body {
    background-position: center;
    background-size: cover;
  }
  &:not(.woocommerce-order-received) {
    .page-body {
      background-image: none!important;
    }
  }
  .woocommerce-remove-coupon:hover {
    color: $teal;
  }
  .woocommerce-form-login-toggle {
    position: absolute;
    .woocommerce-info {
      background-color: $blue-medium;
      height: $space10;
      width: $space10;
      border-radius: 100%;
    }
  }
  .woocommerce-form-coupon-toggle {
    .woocommerce-info {
      background-color: $teal;
      height: $space8;
      border-top: 0;
      padding: 0 $space6;
      display: flex;
      align-items: center;
      font-family: $lato;
      font-size: $lato4;
      color: $white;
      justify-content: space-between;
      &::before, &::after {
        display: none;
      }
      a {
        color: $white;
        font-size: $lato3;
      }
    }
  }
  .checkout-content {
    margin-top: $space9;
    form {
      color: $white;
      h3 {
        font-size: $ag5;
        margin: 0 0 $space8 0;
        &#ship-to-different-address {
          padding: 3px;
          font-size: $ag4;
          margin-bottom: $space5;
          input {
            margin-right: $space2;
          }
        }
      }
      p {
        margin-bottom: 0;
        label {
          font-family: $lato;
          font-size: $lato3;
          margin: 0;
          margin-bottom: $space3;
          .required {
            color: $red;
          }
        }
        .input-text {
          background-color: $blue-darkest;
          height: $space6;
          color: #8A9096;
          border: 0;
          border-radius: 0;
          padding: $space2;
          font-family: $lato;
          font-size: $lato3;
          text-transform: lowercase;
          margin: 0;
          margin-bottom: $space5;
        }
        .select2-selection {
          margin-bottom: $space6;
          //height: $space6!important;
          @include for-size(sm) {
            margin-bottom: $space5;
          }
          .select2-selection__rendered, .select2-results__option {
            padding-left: $space2;
            font-family: $lato;
            font-size: $lato3;
            text-transform: lowercase;
          }
        }
      }
    }
    .order-summary {
      color: $blue-dark;
      .inner-wrapper-3D {
        flex-direction: column;
        padding: $space7;
        h3 {
          text-align: center;
          margin: 0;
          font-size: $ag4;
          margin-bottom: $space7;
        }
      }
    }
  }
  .shop_table {
    border: 0!important;
    font-family: $lato;
    font-size: $lato3;
    border-collapse: collapse;
    thead {
      display: none;
    }
    tr {
      th {
        border-top: 0!important;
        vertical-align: top;
      }
      td {
        border-top: 0!important;
        text-align: right;
        vertical-align: top;
        &.product-name {
          text-align: left;
        }
      }
      &.order-total {
        td, th {
          border-top: 2px solid $blue-dark!important;
        }
      }
    }
  }
  .email-popup-click-wrapper {
    cursor: url("../images/cursors/close.svg"), auto;
  }
  #email-popup {
    width: $space13;
    height: $space13;
    background-color: $blue-medium;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      margin: 0;
      padding: 0;
      border: 0;
      h2 {
        font-size: $ag6;
        margin: 0 auto $space5 auto;
        text-align: center;
      }
      p {
        text-align: center;
        padding: 0;
        margin-bottom: $space5;
        &.form-row-last {
          margin-bottom: 0;
        }
        &.instructions {
          color: $blue-dark;
          font-size: $lato4;
          font-family: $lato;
          margin-bottom: $space4;
        }
      }
      .form-row {
        width: 100%;
        text-align: center;
        .input-text {
          height: $space6;
          width: $space11;
          border-radius: 0;
          border: 0;
          background-color: $white;
          padding: $space1;
          font-family: $lato;
          color: $blue-dark;
          font-size: $lato3;
        }
        .button {
          height: $space6;
          width: $space10;
          background-color: $teal;
          font-family: $lato;
          color: $white;
          border-radius: 0;
          text-transform: lowercase;
        }
      }
    }
  }
}

.woocommerce-order-received {
  .page-header {
    background-color: transparent;
    border-bottom-style: solid;
  }
  .col-3 {
    overflow: hidden;
  }
  .woocommerce-customer-details {
    display: none;
  }
  .inner-wrapper-3D {
    h2 {
      margin: 0 auto $space5 auto;
      font-size: $ag4;
      text-align: center;
    }
    table {
      border-collapse: collapse;
      tbody {
        margin-bottom: $space2;
      }
      tfoot tr:last-child {
        border-top: 2px solid $neutral-medium;
      }
    }
  }
  .woocommerce-order {
    min-height: $space13;
    overflow: hidden;
    //.left {
    //  @include for-size(md) {
    //    width: 50%;
    //    padding: 0 calc(#{$space7} / 2);
    //  }
    //}
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      @include for-size(md) {
        width: 50%;
        padding: 0 calc(#{$space7} / 2);
      }
      .outer-wrapper-3D {
        height: $space13;
        .inner-wrapper-3D {
          padding: $space6;
        }
      }
    }
  }
  .circle-wrapper {
    width: $space12;
    height: $space12;
    border-radius: 100%;
    background-color: $teal-90;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    margin: 0 auto $space9 auto;
    padding: $space4;
    @include for-size(sm) {
      width: $space13;
      height: $space13;
    }
    @include for-size(md) {
      margin: auto;
    }
    @include for-size(lg) {
      position: absolute;
      margin: auto;
      top: $negativeSpace;
      bottom: $negativeSpace;
      left: $negativeSpace;
      right: $negativeSpace;
    }
    .circle-inner-wrapper {
      text-align: center;
      h2 {
        font-size: $ag6;
        margin-bottom: $space3;
      }
      p {
        font-family: $lato;
        font-size: $lato4;
        color: $blue-dark;
        @include for-size(sm) {
          font-size: $lato4;
        }
      }
    }
  }
}

#payment {
  background-color: $neutral-light!important;
  .payment_methods {
    border-bottom: 0!important;
  }
  p {
    font-family: $lato;
    font-size: $lato3;
    margin-bottom: $space3;
  }
  label {
    font-family: $lato;
    font-size: $lato2;
    margin-bottom: $space2;
  }
  .woocommerce-invalid label {
    color: $red;
  }
  .payment_box {
    background-color: $neutral-medium!important;
    &::before {
      border: 1em solid $neutral-medium!important;
      border-right-color: transparent!important;
      border-left-color: transparent!important;
      border-top-color: transparent!important;
    }
  }
  button {
    background-color: $teal;
    font-family: $avantgarde;
    font-size: $ag4;
    width: $space10;
    height: $space6;
    text-transform: lowercase;
  }
  .input-text {
    font-size: $lato3!important;
    font-family: $lato!important;
    padding: $space-1;
  }
  .place-order {
    text-align: center;
    margin-bottom: 0;
  }
}


.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
  width: 100%;
  @include for-size(sm) {
    width: 47%;
  }
}

.page-template-cart {
  h2 {
    color: $white;
    font-size: $ag7;
    margin-bottom: $space7!important;
  }
}

.woocommerce-order-received {
  .checkout-content {
    margin-top: $space9;
  }
  .inner-wrapper-3D {
    flex-direction: column;
  }
  .page-header {
    h1 {
      color: $blue-dark;
    }
    border-bottom-color: $blue-dark;
  }
  .page-body {
    padding-bottom: $space9;
  }
  footer {
    margin-top: 0;
  }
}



.woocommerce-form-coupon {
  display: block!important;
}
