.circle-date {
  width: $space10;
  height: $space10;
  //border-radius: calc(#{$space10} / 2);
  border-radius: 100%;
  background-color: $blue-medium;
  position: absolute;
  top: calc( (#{$space7} * -1) + (#{$space10} * -1));
  display: flex;
  align-items: center;
  justify-content: center;
  .day {
    font-family: $avantgarde;
    font-size: $ag7;
    color: $blue-light;
    font-weight: bold;
    position: relative;
    width: 100%;
    text-align: center;
    .month {
      font-family: $starling;
      font-size: $starling3;
      color: $blue-dark;
      opacity: .5;
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      bottom: calc(#{$space4} * -1);
    }
  }
}

.single {
  background-color: $neutral-light!important;
  #page {
    overflow: hidden;
  }
  footer {
    margin-top: 0px;
  }
  .video-feature {
    margin-top: $space9;
  }
  .page-header {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $white;
    h1 {
      color: $white;
    }
  }
  .image-wrapper {
    height: $space13;
    position: relative;
    margin-bottom: $space8;
    overflow: visible;
    z-index: 0;
    .image {
      width: $space17;
      height: $space17;
      //border-radius: calc(#{$space17} / 2);
      border-radius: 100%;
      position: absolute;
      left: -9999px;
      right: -9999px;
      margin: auto;
      bottom: 0;
      background-size: cover;
      background-position: center center;
      background-color: $neutral-medium;
      @include for-size(xxl) {
        width: $space18;
        height: $space18;
        //border-radius: calc(#{$space18} / 2);
        border-radius: 100%;
      }
    }
  }
  .circle-date {
    background-color: $teal;
    right: $space2;
    top: calc(#{$space10} * -1);
    @include for-size(sm) {
      right: $space2;
      top: calc(#{$space11} * -1);
    }
    @include for-size(md) {
      //right: calc(#{$space2} * -1);
      right: 0;
      top: calc((#{$space11} + #{$space7})  * -1);
    }
    @include for-size(lg) {
      right: calc(#{$space7} * -1);
      top: calc((#{$space11} + #{$space7})  * -1);
    }
    @include for-size(xl) {
      right: calc(#{$space8} * -1);
      top: calc((#{$space12} + #{$space7})  * -1);
    }
    .month {
      color: $dark-blue-50;
    }
  }
  h1:not(.header) {
    font-size: $ag7;
  }
  .read-time {
    color: $teal;
    font-family: $avantgarde;
    font-size: $ag4;
    margin-bottom: $space7;
    font-weight: bold;
    display: inline-block;
  }
  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space8;
    h3 {
      opacity: .5;
      margin: 0;
    }
    .categories {
      align-self: flex-end;
      display: flex;
      h5 {
        font-family: $avantgarde;
        font-size: $ag4;
        font-weight: bold;
        margin: 0;
        margin-left: $space5;
      }
    }
  }
  .post-body {
    margin: auto;
    a {
      color: $teal!important;
      &:hover, &:visited {
        color: $teal;
      }
    }
  }
  .more-posts {
    margin-top: $space8;
    .slick-arrow {
      position: absolute;
      &.slick-prev {
        left: calc(#{$space8} * -1);
      }
      &.slick-next {
        right: calc(#{$space8} * -1);
      }
    }
    .slick-dots {
      text-align: center;
      margin-top: $space6;
    }
    .post {
      display: flex!important;
      align-items: center;
      .thumbnail {
        margin-right: $space7;
        width: $space10;
        height: $space10;
        min-width: $space10;
        max-width: $space10;
        background-color: $neutral-medium;
        //border-radius: calc(#{$space10} / 2);
        border-radius: 100%;
        flex-grow: 3;
        background-size: cover;
        background-position: center;
      }
      .post-info {
        flex-shrink: 20;
        h5 {
          font-family: $starling;
          font-size: $starling3;
          margin: 0;
          margin-bottom: $space4;
        }
        h6 {
          font-family: $avantgarde;
          font-weight: bold;
          size: $ag3;
          color: $teal;
          margin: 0;
        }
      }
    }
  }
}

.blog {
  #primary {
    overflow: hidden;
  }
  .circle-date {
    right: $mobilePadding;
    @include for-size(sm) {
      right: auto;
    }
  }
  .page-header {
    position: relative;
    z-index: 1;
    h1 {
      color: $white;
    }
  }
  .read-time {
    font-family: $avantgarde;
    font-size: $ag4;
    color: $blue-dark;
    font-weight: bold;
    margin-bottom: $space6;
    display: block;
  }
  .post-teaser {
    font-family: $lato;
    font-size: $lato4;
    color: $white;
    opacity: .5;
  }
  .featured-post {
    position: relative;
    z-index: 0;
    .blog-post-outer-wrapper {
      position: relative;
      .post-meta {
        margin: auto;
        margin-bottom: $space8;
        @include for-size(sm) {
          margin-bottom: $space10;
        }
        a {
          text-decoration: none;
          h4 {
            font-family: $avantgarde;
            font-size: $ag6;
            margin: 0 0 $space6 0;
            color: $white;
          }
        }
        .post-teaser {
          opacity: 1;
        }
      }
    }
    .image-wrapper {
      height: $space12;
      position: relative;
      margin-bottom: $space8;
      overflow: visible;
      .image {
        width: $space17;
        height: $space17;
        //border-radius: calc(#{$space17} / 2);
        border-radius: 100%;
        position: absolute;
        left: -9999px;
        right: -9999px;
        margin: auto;
        bottom: 0;
        @include for-size(xxl) {
          width: $space18;
          height: $space18;
          //border-radius: calc(#{$space18} / 2);
          border-radius: 100%;
        }
      }
    }
  }
  .category-filter {
    margin-bottom: $space6;
    display: flex;
    flex-direction: row;
    .category-inner-wrapper {
      display: flex;
      flex-direction: row;
    }
    .show-all {
      flex-grow: 1;
      margin-right: 0!important;
      text-align: right;
    }
    .category-label {
      font-size: $ag4;
      font-family: $avantgarde;
      text-decoration: none;
      color: $blue-dark;
      opacity: .5;
      margin-right: $space6;
      font-weight: bold;
      margin-bottom: 0;
      cursor: pointer;
      display: inline-block;
      &:hover {
        opacity: 1;
        color: $blue-dark
      }
      &.active {
        opacity: 1;
      }
    }
  }
  .post-list {
    border-top: 1px solid $dark-blue-50;
    padding-top: $space10;
    .blog-post-wrapper {
      text-decoration: none;
      color: $white;
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      margin-bottom: $space10;
      .col-3 {
        @include for-size(md) {
          width: 50%;
          padding: 0 calc(#{$space7} / 2);
        }
      }
      &:nth-child(2n) {
        flex-direction: row;
        .month {
          left: 0!important;
          right: auto!important;
        }
        .day {
          //left: 0!important;
          right: auto!important;
          left: calc(#{$space7} * -.5)!important;
        }
        .circle-button {
          //right: 0!important;
          left: inherit!important;
          right: calc(#{$space7} * -.5)!important;
        }
      }
      .post-meta {
        margin-top: $space6;
        margin-bottom: $space5;
        padding: 0 $space8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include for-size(sm) {
          margin: auto;
        }
        a {
          text-decoration: none;
          h4 {
            font-family: $starling;
            font-size: $starling4;
            color: $white;
            margin: 0 0 $space6 0;
          }
        }
        .post-teaser {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .image-wrapper {
        position: relative;
        .month {
          font-family: $starling;
          font-size: $starling5;
          color: $white;
          opacity: .5;
          display: block;
          position: absolute;
          right: 0;
          top: calc(#{$space8} * -1);
        }
        .image {
          background-color: $neutral-light;
          width: $space12;
          height: $space12;
          //border-radius: calc(#{$space12} / 2);
          margin: auto;
          position: relative;
          @include for-size(sm) {
            width: $space12;
            height: $space12;
          }
          .circle-button {
            position: absolute;
            bottom: calc(#{$space7} * -.5);
            left: calc(#{$space7} * -.5);
            right: inherit;
          }
          .day {
            font-family: $avantgarde;
            font-size: $ag7;
            color: $white;
            font-weight: bold;
            display: block;
            position: absolute;
            //top: 0;
            //right: 0;
            top: calc(#{$space7} * -.5)!important;
            right: calc(#{$space7} * -.5)!important;
          }
        }
      }
    }
  }
  footer {
    margin-top: 0;
  }
}
