.post-type-archive-product {
  .site-content{
    padding-top: 0!important;
  }
  .page-header {
    h1 {
      color: $white;
    }
  }
  .section-facts {
    border-top: 0px!important;
    border-bottom: 1px solid $blue-dark;
  }
  .site-content {
    padding-top: $headerHeight;
    .products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
      .product {
        flex-basis: 100%!important;
        padding: $space6 0 $space10 0 !important;
        border-bottom: 1px solid $blue-dark;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0!important;
        @include for-size(md) {
          flex-basis: 50%!important;
          height: 50vw;
          align-items: flex-start;
          border-right: 1px solid $blue-dark;
          padding: 0!important;
       	}
        @include for-size(lg) {
          align-items: center;
       	}
        &:nth-child(2n) {
          border-right: 0px;
        }
        .product_type_variable {
          display: none!important;
        }
        .rating {
          font-family: $lato;
          font-size: $lato3;
          font-weight: bold;
          position: absolute;
          top: $space4;
          right: $space4;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: $blue-dark;
          img {
            height: $space4;
            width: auto;
            margin: 0;
            margin-left: $space2;
            opacity: .5;
          }
          &:hover {
            img{
              opacity: 1;
            }
          }
        }
        .woocommerce-loop-product__link {
          width: $space12;
          height: $space12;
          //border-radius: calc(#{$space12} /2);
          border-radius: 100%;
          background-color: rgba(225,244,253,.5);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          color: $white;
          @include for-size(sm) {
            margin-top: $space8;
         	}
          @include for-size(lg) {
            margin-top: 0;
         	}
          img {
            width: $space11!important;
            height: auto;
            margin: 0;
          }
          .title-wrapper {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: calc(#{$space9} * -1);
            @include for-size(sm) {
              bottom: calc(#{$space8} * -1);
            }
            h2 {
              font-size: $ag5;
              margin: 0;
              padding: 0;
            }
            h6 {
              font-family: $lato;
              font-size: $lato4;
              opacity: 66%;
              font-weight: normal;
              margin-top: $space4;
              margin-bottom: 0;
              @include for-size(sm) {
                margin-top: $space2;
              }
            }
          }
        }
        .add_to_cart_button {
          display: none;
        }
        .price {
          position: absolute;
          bottom: $space5;
          right: $space5;
          font-family: $starling;
          font-size: $starling6;
          color: $blue-dark;
          margin-bottom: 0;
          @include for-size(sm) {
            font-size: $starling5;
          }
        }
      }
    }
  }
  footer {
    margin-top: 0;
    border-top: 0;
  }
}

.single.single-product {
  background-color: $teal!important;
  #content {
    overflow: hidden;
    width: 100vw;
    position: relative;
  }
  .page-header {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $blue-medium;
    h1 {
      font-size: $ag4;
    }
  }
  .gradient-wrapper {
    height: $space13;
    position: absolute;
    margin-bottom: $space8;
    width: 100%;
    z-index: 0;
    .circle {
      width: $space17;
      height: $space17;
      //border-radius: calc(#{$space17} / 2);
      border-radius: 100%;
      position: absolute;
      left: -9999px;
      right: -9999px;
      margin: auto;
      bottom: 0;
      background: linear-gradient(180deg, rgba(223, 230, 230, 0) 0%, #dfe6e6 100%);
    }
  }
  .product{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    @include for-size(md) {
      flex-direction: row;
    }
    .woocommerce-product-gallery {
      flex-basis: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
      padding-top: $space6;
      @include for-size(md) {
        padding-left: 10vw;
        padding-top: 0;
      }
      .woocommerce-product-gallery__image {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: $space13;
        margin: auto;
        @include for-size(lg) {
          max-width: $space14;
        }
      }
    }
    .summary-wrapper {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      .stock {
        color: $blue-dark!important;
        opacity: .5!important;
      }
      .summary {
        width: $space12;
        margin: $space7 $space7 $space9 $space7;
        flex-grow: 0;
        @include for-size(sm) {
          margin: $space9 auto;
          width: $space13!important;
        }
        @include for-size(md) {
          margin: $space9 auto;
          width: $space12!important;
        }
        .summary-inner-wrapper {
          flex-direction: column;
          padding: $space7 $space6 $space5 $space6;
          h1 {
            font-size: $ag6;
            margin: 0 0 $space4 0;
            @include for-size(sm) {
              font-size: $ag5;
            }
          }
          .guarantee {
            opacity: .5;
            margin-bottom: 0;
          }
          h2 {
            font-family: $lato;
            font-size: $lato5;
            color: $dark-blue-50;
            margin: 0 0 $space6 0;
            @include for-size(sm) {
              font-size: $lato4;
            }
          }
          p {
            font-family: $lato;
            font-size: $lato4;
            margin: 0;
            margin-bottom: $space5;
            @include for-size(sm) {
              font-size: $lato3;
            }
          }
          .woocommerce-product-rating {
            display: none;
          }
          .price {
            position: absolute;
            width: $space8;
            height: $space8;
            top: 0;
            right: 0;
            background-color: $neutral-light;
            color: $blue-medium;
            font-size: $starling4;
            font-family: $starling;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          form.cart {
            &:not(.variations_form) {
              display: flex;
              flex-direction: row;
            }
            .variations {
              margin-bottom: $space6;
              .value {
                display: flex;
                [data-wvstooltip]:before {
                  font-family: $lato;
                  font-size: $lato3;
                  background-color: rgba(51, 51, 51, 1) !important;
                }
                .variable-item:not(.radio-variable-item) {
                  width: $space6;
                  height: $space6;
                  //border-radius: calc(#{$space4} / 2);
                  border-radius: 100%;
                  border: 1px solid #C4CBD1;
                  margin: 0 $space3 0 0;
                  box-shadow: none!important;
                  padding: 3px;
                  transition: all .1s ease;
                  @include for-size(sm) {
                    width: $space4;
                    height: $space4;
                    margin: 0 $space1 0 0;
                  }
                  &.selected {
                    padding: 0;
                    border-color: $white;
                  }
                  >::after {
                    box-shadow: none!important;
                  }
                }
              }
            }
            .woocommerce-variation-add-to-cart {
              display: flex;
              flex-direction: row;
            }
            .quantity {
              position: relative;
            }
            .screen-reader-text {
              width: $space7;
              height: $space7;
              border-radius: 100%;
              position: absolute;
              left: 0;
              z-index: 0;
              border: 3px solid $teal;
              clip: unset;
              font-size: .1px;
              clip: unset;
              clip-path: none!important;
              @include for-size(sm) {
                width: $space6;
                height: $space6;
              }
            }
            input {
              width: calc(#{$space6} + #{$space1});
              height: $space7;
              border-radius: 100%;
              //border: 3px solid $teal;
              border: 0px;
              background-color: transparent;
              margin-right: $space5;
              font-family: $lato;
              font-size: $lato4;
              padding: 0;
              position: relative;
              z-index: 1;
              @include for-size(sm) {
                width: calc(#{$space6} + #{$space3});
                margin-right: $space2;
                height: $space6;
                font-size: $lato3;
                margin-right: $space2;
                width: calc(#{$space5} + #{$space1});
              }
            }
            .single_add_to_cart_button {
              flex-grow: 4;
              height: $space7;
              border-radius: 0;
              background-color: $blue-dark;
              text-transform: lowercase;
              font-family: $lato;
              font-size: $lato4;
              @include for-size(sm) {
                font-size: $lato3;
                height: $space6;
              }
            }
          }
          .product_meta, .label, .product_title, .woocommerce-product-details__short-description, .reset_variations {
            display: none!important;
          }
        }
      }
    }
  }
  .section-description {
    margin-bottom: $space7;
    @include for-size(sm) {
      margin-bottom: $space9;
    }
    h3 {
      font-family: $avantgarde;
      font-size: $ag6;
      color: $white;
      margin: 0 0 $space6 0;
      @include for-size(sm) {
        font-size: $ag5;
        margin: 0 0 $space8 0;
      }
    }
    p {
      font-size: $starling4;
      @include for-size(sm) {
        font-size: $starling3;
      }
    }
    .information-outer-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: $space7;
      @include for-size(lg) {
        margin-top: 0;
      }
      .information-wrapper {
        flex-basis: 50%;
        padding-right: $space3;
        @include for-size(lg) {
          flex-basis: $space10;
          margin-right: $space7;
        }
        &:nth-child(even){
          margin-right: 0;
        }
        h4 {
          margin: 0 0 $space4 0;
          font-size: $ag4;
          @include for-size(sm) {
            font-size: $ag3;
          }
        }
        p {
          margin: 0 0 $space6 0;
          font-family: $lato;
          font-size: $lato4;
          @include for-size(sm) {
            font-size: $lato3;
          }
        }
      }
    }
  }
  .section-products {
    padding-top: $space7;
    border-top: 1px solid $dark-blue-50;
    @include for-size(sm) {
      padding-top: $space9;
    }
  }
  .section-facts {
    border-top: 1px solid $dark-blue-50!important;
    border-bottom: 1px solid $dark-blue-50;
  }
  .section-praise {
    padding: $space7 0 $space9 0;
    @include for-size(sm) {
      padding: $space9 0;
    }
    .wc-tabs {
      display: none;
    }
    .video-wrapper {
      text-align: center;
      h2 {
        color: $white;
        text-align: center;
        width: 100%;
        font-size: $ag6;
        margin: 0 0 $space8 0;
      }
      video {
        max-width: 100%;
      }
    }
    .entry-content {
      margin: 0 auto;
    }
    .review-button {
      margin: $space6 auto $space6 auto;
      height: $space6;
      width: $space10;
      border-radius: 0;
      color: $white;
      padding: 0;
      background-color: $blue-dark;
      font-family: $lato;
      font-size: $lato3;
      font-weight: bold;
      text-transform: lowercase;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    #reviews {
      .contributions-title, .contributions-form-title, .contribution-type-selector, .product-rating, #contributions-list-title, #comments_filter_field {
        display: none!important
      }
      .star-rating {
        margin-right: auto!important;
      }
      .contribution-flag-form {
        display: none!important;
      }
      #review_comment_field {
        label {
          display: none!important;
        }
        .input-text {
          height: $space10;
        }
        &:before {
          content:'submit a review';
          font-family: $avantgarde;
          font-size: $ag4;
          margin-bottom: $space3;
          text-align: center;
          font-weight: bold;
          width: 100%;
        }
        .woocommerce-input-wrapper {
          &:before {
            content:'add photos or videos you’d like to share';
            font-family: $lato;
            font-size: $lato3;
            margin-bottom: $space6;
            display: block;
            text-align: center;
            width: 100%;
          }
        }

      }
      .wc-product-reviews-pro-form-submit-row {
        order: 9;
      }
      #star-rating-selector {

      }
      .review-form-outer-wrapper {
        display: none;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        z-index: 4;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $teal-50;
        &.open {
          display: flex!important;
        }
      }
      .review {
        .contribution-actions, .woocommerce-review__dash, .woocommerce-review__published-date {
          display: none;
        }
        .description {
          p {
            font-size: $starling5!important;
          }
        }
      }
      .woocommerce-noreviews {
        margin: calc(#{$space5} * -1) auto 0 auto;
      }
      #review_form_wrapper {
        display: none!important;
        width: $space13;
        &.open {
          display: block!important;
        }
        .form-review {
          padding: $space6!important;
          border: 0px!important;
          display: flex;
          flex-direction: column;
          &::before {
            top: 1px;
            left: calc((#{$depth} * -1) + 1px);
          }
          &::after {
            right: 1px;
            bottom: calc((#{$depth} * -1) + 1px);
          }
          .star-rating-selector {
            order: 2;
            &:not(:checked) input:checked~label.checkbox {
              color: $blue-dark;
            }
            &:not(:checked) label.checkbox:hover {
              color: $blue-dark;
            }
            label {
              display: block;
            }
            fieldset {
              display: inline-block;
              float: none;
              margin-bottom: $space4;
            }
          }
          .star-label {
            display: none!important;
          }

          .form-row {
            display: block!important;
            .input-text {
              background-color: $neutral-light;
              border: 1px solid #CED7D9;
              border-radius: 0px;
              padding: $space1;
              font-family: $lato;
              font-size: $lato3;
              color: $blue-dark;
            }
          }
          .attachment-url, .attachment-type, .attachment-file {
            display: none!important;
          }
          #review_title_field {
            display: none;
          }
          #review_rating_field {
            label {
              //display: none!important;
            }
          }
          #review_attachment_url_field, #review_title_field, #subscribe_to_replies_field, .toggle-attachment-source {
            display: none!important
          }
          .required {
            color: $red!important;
          }
          button {
            width: $space10;
            height: $space6;
            background-color: $blue-dark;
            color: $white;
            font-family: $lato;
            font-size: $lato3;
            text-transform: lowercase;
            border-radius: 0;
          }
        }
      }
    }

  }
  footer {
    margin-top: 0;
  }
}
