@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/animate.css/animate.min.css";
@import "variables";
@import "global";
@import "type";
@import "main";
@import "about";
@import "products";
@import "lifestyle";
@import "account";
@import "checkout";
@import "animations";
@import "crossbrowser";
@import "~slick-carousel/slick/slick.scss";
$slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
$slick-loader-path: "/node_modules/slick-carousel/slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
