


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $blue-dark;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-block-start: $space1;
  margin-block-end: $space1;
}

p {
	margin: auto;
	margin-bottom: 1.5em;
  line-height: 1.3;
}


dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	color: $teal;
}

p {
	font-family: $starling;
  font-size: $starling3;
	margin-bottom: $space4;
}

p.large {
  font-size: $starling4;
}

h1 {
  font-family: $avantgarde;
	font-size: $ag6;
	margin-bottom: $space9;	
}

h2 {
  font-family: $avantgarde;
  font-size: $ag5;
}

h3 {
	font-family: $avantgarde;
	font-size: $ag4;
  margin: $space4 0;
}

h4 {
	font-family: $avantgarde;
	font-size: $ag3;
}

h5 {
	font-family: $lato;
  font-size: $lato3;
	margin-bottom: $space5;
}

h6 {
	font-family: $lato;
  font-size: $lato2;
}

.lower-case {
	text-transform: lowercase;
}
.text-centered {
	text-align: center;
}
.text-white {
  color: $white;
}
.text-teal {
  color: $teal;
}
.text-blue-dark {
  color: $blue-dark;
}

.font-ag {
  font-family: $avantgarde;
}
.font-starling {
  font-family: $starling;
}

.lato1 {
  font-size: $lato1;
}
.lato2 {
  font-size: $lato2;
}
.lato3 {
  font-size: $lato3;
}
.lato4 {
  font-size: $lato4;
}
.lato5 {
  font-size: $lato5;
}
.lato6 {
  font-size: $lato6;
}

.ag2 {
  font-size: $ag2;
}
.ag3 {
  font-size: $ag3;
}
.ag4 {
  font-size: $ag4;
}
.ag5 {
  font-size: $ag5;
}
.ag6 {
  font-size: $ag6;
}
.ag7 {
  font-size: $ag7;
}
.ag8 {
  font-size: $ag8;
}
.ag9 {
  font-size: $ag9;
}

.starling1 {
  font-size: $starling1;
}
.starling2 {
  font-size: $starling2;
}
.starling3 {
  font-size: $starling3;
}
.starling4 {
  font-size: $starling4;
}
.starling5 {
  font-size: $starling5;
}
